@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<!--COMMENTS---------------------------------------------------------------------------------
    DATE            DEV     COMMENTS
    12/19/2014     Chi      Formated the page & displayed exception details
    02/16/2015     Chi      Added contacted email if error occurred
-------------------------------------------------------------------------------------------->
<!DOCTYPE html>
<head>
    <title>Error</title>
</head>
<html lang="en">
<body>
    <div class="container" id="pageCenterID">
        <h2 class="text-danger">An error occurred while processing your request. <br /></h2>
        <h2 class="text-danger">Press F5 to refresh the web page, if this error persists, please <a href="mailto:ncicenters-r@mail.nih.gov">contact the site administrator.</a></h2>
        @if (Model != null)
        {
            <h3>@Model.Exception.GetType().Name</h3>
            <pre>
                @Model.Exception.ToString()
            </pre>
            <p>
                thrown in @Model.ControllerName @Model.ActionName
            </p>
        }
    </div>
</body>
</html>