@{
    ViewBag.Title = "PoliciesResources";
}

@*COMMENTS---------------------------------------------------------------------------------
        DATE            DEVELOPER   NOTES
        11/07/2014      AM          Made Icons Clickable
        11/09/2014      Chi         Changed Posted to Updated Date.
        11/12/2014      AM          Removed Color Style from glyphicon glyphicon-circle-arrow-right
                                    Updated color name with HEX Value
        12/1/2014       AM          Updated PRMS Document
                                    Added date to CTSA Document
                                    Removed Overall Merit Score Document
                                    Inserted Space between "Home" and arrow in breadcrumbs
                                    Added Print Versions
        12/10/2014      AM          Capped title for Orgs with PRFS
        12/14/2014      AM          Capped N in November for PRMS
                                    Created Tooltip for Images
        12/19/2014      Chi         Removed unused class="accordian-toggle" and data-parent="#accordian2" from the <a> tag
        12/19/2014      AM          Removed PRMS and corrected typo
        02/03/2015      AM          Added fancy tooltip
        02/10/2015      AM          Removed image thumbnail class & styling from logos and resized them in GIMP for sharper image
        03/06/2015      AM          Added tooltip to breadcrumb, fixed colors to pass CCA testing, hid comments, cleaned up code,
                                    modified headers, referenced classes
        03/16/2015      AM          Bolded titles, expanded CTSA
        03/26/2015      Chi         For skip nav, added id="home" on <a> tag
        03/27/2015      Chi         Removed occHyperlink, added id="home" to the 1st <a> tag
        04/01/2015      AM          Moved id="home" to home breadcrumb
        04/02/2015      AM          removed <i> added aria-hidden="true"
        01/13/2016      AM          Replaced CC Logo Usage Policy with CC Identity Badges
        01/14/2016      AM          Updated Tooltips 
        06/07/2016      AM          Corrected typo on Funding Organizations
        07/13/2016      AM          Added Alex's Lemonade Stand Foundation and Abbreviations HHMI, LLS, PCF
        11/16/2016      AM          Updated Updated date for Organizations with Peer Review Funding Systems
        07/19/2022      AM          Added SU2C to the list, Updated PAR link with Current FOA and updated updated date.
        
    ------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Policies and Resources</title>
    <style>
        .big {
            font-size: large;
            line-height: 150%;
            font-weight:bold
        }

        .small {
            font-size: small;
            color: #343434;
        }

    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <h2 style="color:#8F0000;">&nbsp;Policies & Resources</h2>
        <hr style="margin-bottom:.5em;" />
        <ul class="breadcrumb" style="float:left; margin-bottom:0px;">
            <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
            <li class="active grayFont">Policies & Resources</li>
        </ul>

        <div class="row" id="centerContentID" style="float:left; margin-top:10px;">
            <div class="media">@*Begin First Div*@
                <a href="#" data-toggle="collapse" data-target="#collapsePRID" class="pull-left">
                    <img class="img-thumbnail tip-bottom tooltipColor" src="~/images/PeerReview.jpg" alt="Peer review Image" style=" width:85px; height:75px; border-color:#e5cccc;" data-toggle="tooltip" data-original-title="Click to Expand / Collapse text">
                </a>
                <div class="media-body">
                    <span class="big">Organizations with Peer Review Funding Systems</span> <span class="grayFont">Updated on July 19, 2022</span>                    
                    <p>
                        As described in
                        <a href="https://grants.nih.gov/grants/guide/pa-files/PAR-21-321.html"  target="_blank">this</a>
                        program announcement for P30 Cancer Center Support Grants, eligibility to apply for a CCSG award and to
                        meet the standards for formal CCSG research programs requires specific minimum levels of “peer reviewed,
                        funded research projects.”
                        The NIH and all of the funding organizations listed below employ: 1) a peer review system that uses
                        primarily external reviewers and is free of conflict-of-interest; (2) a ranking or rating system in the review
                        process based on the scientific merit of the proposed research; and (3) a funding system based primarily on
                        the peer review ranking or rating of the research applications. All funded, multi-year research projects from
                        these organizations (excluding pilot projects and feasibility studies) may be counted toward the requirements
                        noted above. In addition, these projects may receive support from CCSG shared resources. 
                        <a data-toggle="collapse" href="#" data-target="#collapsePRID" >More &raquo;</a>
                    </p>
                    <div class="collapse" id="collapsePRID">@*Begin Collapsed Div*@
                        <ol>
                            <li>Agency for Healthcare Research and Quality (AHRQ)</li>
                            <li>Alex's Lemonade Stand Foundation (ALSF)</li>
                            <li>American Association for Cancer Research (AACR)</li>
                            <li>American Cancer Society (ACS), (national office only)</li>
                            <li>American Foundation for AIDS Research (amfAR)</li>
                            <li>American Institute for Cancer Research (AICR)</li>
                            <li>California Institute for Regenerative Medicine (CIRM)</li>
                            <li>Cancer Prevention Research Institute of Texas (CPRIT)</li>
                            <li>Center for Disease Control and Prevention (CDC)</li>
                            <li>Central Office of the Veterans Administration (VA), (excluding local/regional and “block” grants)</li>
                            <li>Environmental Protection Agency (EPA)</li>
                            <li>The Flight Attendant Medical Research Institute (FAMRI)</li>
                            <li>Florida Biomedical Research Program (FBRP)</li>
                            <li>Food and Drug Administration (FDA)</li>
                            <li>Howard Hughes Medical Institute (HHMI)</li>
                            <li>Leukemia and Lymphoma Society (LLS)</li>
                            <li>Melanoma Research Alliance (MRA)</li>
                            <li>Multiple Myeloma Research Foundation (MMRF)</li>
                            <li>National Institute for Occupational Safety and Health (NIOSH)</li>
                            <li>National Science Foundation (NSF)</li>
                            <li>New York State Department of Health Wadsworth Center/New York State Stem Cell Science Program(NYSTEM)</li>
                            <li>Patient-Centered Outcomes Research Institute (PCORI)</li>
                            <li>Prevent Cancer Foundation (PCF)</li>
                            <li>Prostate Cancer Foundation (PCF)</li>
                            <li style="color:red">Stand Up to Cancer (SU2C)</li>
                            <li>Susan G. Komen for the Cure</li>
                            <li>The California Breast Cancer Research Program (CBCRP)</li>
                            <li>The California Tobacco Related Disease Research Program (TRDRP)</li>
                            <li>U.S. Army (DOD) special research programs *</li>
                        </ol>
                        <p>
                            <b>*Note</b>: Grants funded through the U.S. Army’s, (DOD) special research programs in ovarian, breast and
                            prostate cancer may also be listed in the category of peer reviewed funded grants.
                        </p>
                        <p><a href="~/documents/PRFundingOrgs508C.pdf" target="_blank">Print Version</a></p>
                    </div>@*End Collapsed DIV*@
               </div>
            </div>@*End First DIV*@
            <hr />
            <div class="media">@*Begin 2nd Div*@
                <a href="~/PoliciesResources/LogoUsagePolicy" class="pull-left" >
                    @*@Html.Raw(File.ReadAllText(Server.MapPath("~/images/CCIdentityBadgeThumb.svg")))*@
                    <img src="~/images/CCIdentityBadgeThumb.png" alt="NCI-designated Cancer Center Badge" style="border-color:#e5cccc;" class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click to go to Cancer Center Identity Badges Page" title="">
                </a>
                <a href="~/PoliciesResources/LogoUsagePolicy" class="pull-right">
                    <img src="~/images/CCCIdentityBadgeThumb.png" alt="NCI-designated Comprehensive Cancer Center Badge" style="border-color:#e5cccc;" class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click to go to Cancer Center Identity Badges Page" title="">
                </a>
                <div class="media-body">
                    <span class="big">Cancer Center Identity Badges</span> <span class="grayFont">Posted on January 13, 2016</span>               
                    <p>
                        NCI–designated Cancer Centers and NCI–designated Comprehensive Cancer Centers will be allowed to use the Cancer Center Identity Badge, appropriate to their designation, in the promotion, advocacy, educational, and other related activities of the individual cancer center.
                        Cancer Centers and Comprehensive Cancer Centers are not allowed to use the NCI logo.
                        <a href="~/PoliciesResources/LogoUsagePolicy" >&nbsp;More &raquo;</a>
                    </p>
                </div>
            </div>@*End Second Div*@
            <hr />
            <div class="media">@*Begin 3rd Div*@
                <a href="#" data-toggle="collapse" data-target="#collapseCTSAID" class="pull-left">
                    <img class="img-thumbnail tip-bottom tooltipColor" src="~/images/CTSA.jpg" alt="CTSA Image" style=" width:85px; height:75px; border-color:#e5cccc;" data-toggle="tooltip" data-original-title="Click to Expand / Collapse text" title="">
                </a>
                <div class="media-body">
                    <span class="big">Clinical Translational Science Awards</span> <span class="grayFont">Updated on January 1, 2012</span>
                    <p><b>Guidance Relevant to NIH Clinical Translational Science Awards (CTSA) and Cancer Center Support Grant (CCSG) Guidelines</b></p>
                    <p>Clinical and Translational Science Awards are sponsored by the National Center for
                        Research Resources. CTSAs are intended to complement the extramural programs of
                        other NIH Institutes by creating an academic home for clinical and translational research.
                        The vast majority of institutions with CTSAs also are home to NCI-designated Cancer
                        Centers and issues relevant to the Cancer Center Support Grant (CCSG) Guidelines may
                        arise in some Cancer Centers based on the proposed structure of the CTSA, the
                        organization of the parent institution, and the organization and functions of the Cancer
                        Center. Additional guidance is provided below.<br />
                    <p>
                        <u>The Six Essential Characteristics </u>

                        As a set of overriding principles, the Six Essential Characteristics, which serve as the
                        cornerstone of the NCI - Cancer Centers Program, remain paramount.
                        <br /><br />
                        <u>Protocol Review and Monitoring System </u>
                        <br />
                        Scientific review, prioritization, monitoring, and closure to trials of cancer center clinical
                        trials must continue as exclusive functions of the Protocol Review and Monitoring
                        System of the Cancer Center. It is not acceptable for these functions to be within the
                        purview of the CTSA or any other entity within the parent institution.
                    </p>
                        <a href="~/Documents/ClinicalTranslationalScienceAwards508.pdf" target="_blank" >Print Version</a>
                    </p>
                </div>
            </div>@*End 3rd Div*@
        </div>@*row*@
    </div>@*End Page Container*@
</body>
</html>