
@{
    ViewBag.Title = "CCSGFAQs";
}
@*COMMENTS-------------------------------------------------------------------------------------------------------------------------------------------------------
        DATE        DEVELOPER   NOTES

        11/12/2014  AM          Replaced Color names with HEX Codes
                                Removed color style for "glyphicon glyphicon-circle-arrow-right"
                                Moved Print VS to bottom of page
        12/05/2014  AM          Corrected Breadcrumbs
        12/17/2014  AM          Updated URLs
        12/24/2014  AM          Added print version under scroll spy
        01/14/2015  AM          Updated Date
        01/30/2015  AM          Made Q&A Collapse
        03/04/2015  AM          Added blockquote, restructured headings, changed colors to pass CCA analyzer
                                hid comments
        03/06/2015  AM          Changed blockquote border color, modified page headers, added home tool tip, referenced classes
        03/16/2015  AM          Made blockquote match DT, changed Header & Blockquote border color to purple #400040
        03/27/2015  Chi         Modified the font to Maroon: #8F0000, and removed occHyperlink class
        04/02/2015  AM          Modified page headers, scrollspy, added aria-hidden="true"
        12/21/2017  AM          Updated with Document
        11/29/2018  AM          Updated FAQ per Dr. Ciolino Request
        04/01/2021  AN          Updated CCSG FAQ with Edits from Sonya Roberson per Salk Request
    ---------------------------------------------------------------------------------------------------------------------------------------------------------*@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CCSG FAQs</title>
    <style type="text/css" >
        /* Custom Styles */
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #005c83;
                    border: 1px solid #274D9A;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 30px; /* Set the top position of pinned element */
            }

    blockquote {
        background: #f9f9f9;
        color: #424242;
        border-color: #8F0000;
        border-width: 2px;
        padding-bottom: 0px;
        padding-top: 0px;
        padding-right: 0px;
        /*quotes: "\201C""\201D""\2018""\2019";*/
    }

        blockquote p {
            font-size: 14px;
            font-weight: normal;
            /*display: inline;*/
        }

        .aText {
            color: #000000;
            padding-left: 2em;
        }

        .sectionHead {
            font-size: x-large;
        }

        .sectionSubhead {
            color: #5d5d5d;
            font-size: large;
        }
    </style>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container" id="pageCenterID">
            <div class="row" id="centerContentID">
                <h2 style="color:#8F0000">&nbsp;Cancer Centers Support Grant FAQs</h2>
                <p style="font-size: medium;padding-left:.5em; "><small>Updated March 29, 2021</small></p>
                        <hr style="margin-bottom:0em;" />
                        <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                            <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                            <li><a href="~/Home/FAQs"><span>FAQs </span></a><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                            <li class="active grayFont">Cancer Centers Support Grant FAQs</li>
                        </ul>
            </div>

        <div class="row">
            <div class="col-xs-2" id="myScrollspy">@*Begin Scrollspy*@
                <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="125">
                    <li class="active"><a href="#Application">Application Related FAQs</a></li>
                    <li><a href="#Review">Site Visit Related FAQs</a></li>
                    <li><a href="~/documents/CCSGFAQs508C_2021.pdf"  target="_blank">PDF Version</a></li>
                </ul>
            </div>@*End Scrollspy*@

            <div class="col-xs-10">
                <h3 id="Application" style="text-align:center">FAQs related to the Cancer Center Support Grants (CCSG) <br />Applications</h3>
                <br />

                @*--- Quest1 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target1" title="Click to expand/collapse the answer">
                        <b>1.  What if a Center has a Research Program that does not meet the minimum number of peer-review cancer-relevant grants?</b>
                    </p>
                </blockquote>
                <div id="target1" class="collapse out aText">
                    <p>The OCC recommends, as would any responsible EAB, that Centers present to reviewers stronger, better funded Research Programs, even if that means fewer Programs. Therefore, the FOA sets a minimum number of investigators and peer-review projects that Research Programs should possess at the time of CCSG submission. Failure of a Research Program to have the minimum funding set forth in the FOA may adversely affect the impact score.</p>
                </div>


                @*--- Quest2 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target2" title="Click to expand/collapse the answer">
                        <b>2.	How is the term “R01-equivalent” applied? </b>
                    </p>
                </blockquote>


                <div id="target2" class="collapse out aText">
                    <p>R01-equivalence is defined as a grant of $125,000 per year for 3 years. This term only applies to achieving the minimum number of funded projects in a Program (and to qualify as a consortium partner). Grants from NIH and the other peer-review funding organizations recognized by NCI count towards the minimum</p>                </div>


                @*--- Quest3 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target3" title="Click to expand/collapse the answer">
                        <b>3.  Does the term “R01-equivalent” mean the Center can’t count any grant less than that?</b>
                    </p>
                </blockquote>

                <div id="target3" class="collapse out aText">
                    <p>Once a Research Program achieves the minimum number of projects, the term “R01- equivalent” is irrelevant, and all peer-reviewed research projects are included as specified in the Data Guide. For example, if a Center member’s only funding is a subcontract for $80,000 from another center, that member is a peer-reviewed funded investigator, that is a research project listed in the relevant Program, and that funding is listed in DT2A and rolled into the total in DT2B</p>                </div>

                @*--- Quest4 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target4" title="Click to expand/collapse the answer">
                        <b>4.  What defines a consortium partner?</b>
                    </p>
                </blockquote>

                <div id="target4" class="collapse out aText">
                    <p>A consortium partner is defined in the CCSG as an institution that:
                        <ul>
                            <li>holds a portfolio of peer-reviewed, cancer-relevant grants (at a minimum, 7 peer- reviewed, cancer relevant grants of $125,000 per year for 3 years from at least 5 PIs))</li>
                            <li>is fully integrated into the cancer center at the time of application</li>
                            <li>provides continuing tangible commitments to the center</li>
                            <li>is governed by a formal, written agreement</li>
                        </ul>
                    </p>
                </div>

                @*--- Quest5 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target5" title="Click to expand/collapse the answer">
                        <b>5.  How are consortium arrangements reviewed?</b>
                    </p>
                </blockquote>

                <div id="target5" class="aText collapse out">
                    <p>Reviewers will rate each arrangement “Satisfactory/Unsatisfactory” based on the above requirements. This occurs as “Additional Review Considerations,” meaning it takes place after all other components are evaluated. NCI will then approve or disapprove the consortium when issuing the Notice of Award.</p>                </div>

                @*--- Quest6 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target6" title="Click to expand/collapse the answer">
                        <b>6.	What if a newly proposed or existing consortium arrangement does not meet these standards?</b>
                    </p>
                </blockquote>

                <div id="target6" class="aText collapse out">
                    <p>Each consortium partner, whether newly proposed or established, is evaluated with each Center’s application. Although the “Additional Review Considerations” under which the consortium arrangement is reviewed takes place after all other components are scored, and does not carry an impact score itself, proposal of an inappropriate consortium arrangement may affect the overall impact score of the center if reviewers question CCSG components such as Leadership, Planning and Evaluation, and Organization Capabilities</p>                    
                    <p>Institutions that do not meet the minimum portfolio or other requirements may be considered affiliated organizations. Investigators at affiliated institutions can enjoy all the benefits of membership in the cancer center, including access to shared resources, CCSG funding for pilot projects, salary, etc. Peer-reviewed grants from these PIs cannot be counted in the center’s funding base, and their institution cannot use the NCI- designation in its branding.Institutions that do not meet the minimum portfolio or other requirements may be considered affiliated organizations. Investigators at affiliated institutions can enjoy all the benefits of membership in the cancer center, including access to shared resources, CCSG funding for pilot projects, salary, etc. Peer-reviewed grants from these PIs cannot be counted in the center’s funding base, and their institution cannot use the NCI- designation in its branding.</p>
                </div>

                @*--- Quest7 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target7" title="Click to expand/collapse the answer">
                        <b>7.  What does NCI mean by “… cancer research relevant to the catchment area?”</b>
                    </p>
                </blockquote>

                <div id="target7" class="aText collapse out">
                    <p>In addition to questions of broader applicability, and as appropriate to the type of Program, the Center should describe how it carries out cancer research relevant to its catchment area. This refers to more than accrual to the center’s clinical trials. Cancer research that addresses the catchment area could include research projects that address: problems affecting racial and ethnic minorities, rural residents, women, children, elderly, persons of low socioeconomic status, cancer sites of high incidence/mortality, environmental exposures, behavioral factors, or other issues</p>                    
                    <p>This does not mean that Centers should study only cancer research important to their catchment area, but that Centers should include such research in their larger portfolio of cancer research addressing questions of national and international importance. NCI has no metric as to how much of a Research Program’s research should address the catchment area, but it is expected that most cancer research is relevant to a broader population that exists in any center’s catchment area.</p>                </div>

                @*--- Quest8 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target8" title="Click to expand/collapse the answer">
                        <b>8.	Will each scientific program be required to support cancer research relevant to its catchment area? </b>
                </blockquote>
                </p>
                <div id="target8" class="aText collapse out">
                    <p>Reviewers expect to see cancer research relevant to the catchment area addressed in each program, at a level appropriate to the type of program (basic, clinical, translational, and population science). </p>                </div>

                @*--- Quest9 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target9" title="Click to expand/collapse the answer">
                        <b>9.  What is a cancer health disparity?</b>
                    </p>
                </blockquote>
                <div id="target9" class="aText collapse out">
                    <p>The National Cancer Institute defines a cancer health disparity as an adverse difference in cancer incidence (new cases), cancer prevalence (all existing cases), cancer death (mortality), cancer survivorship, and burden of cancer or related health conditions that exist among specific population groups in the United States.</p>                </div>

                @*--- Quest10 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target10" title="Click to expand/collapse the answer">
                        <b>10.  Does NCI define “membership” in a Cancer Center program?</b>
                    </p>
                </blockquote>

                <div id="target10" class="aText collapse out">
                    <p>Centers define membership for themselves. However, once defined, the Center should adhere to its own membership criteria.</p>                
                </div>

                @*--- Quest11 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target11" title="Click to expand/collapse the answer">
                        <b>11.	For programs, how extensive and what kind of information about collaborations should be presented? </b>
                    </p>
                </blockquote>

                <div id="target11" class="aText collapse out">
                    <p>Each Research Program narrative is limited to 12 pages; the list of intra- and inter- programmatic activities and external collaborations is an exclusion from the 12-page limit. In the narrative, you should present only the most important scientific collaborations, those that advance the scientific goals of the Research Program, and you should present enough information to document the importance of the collaboration.</p>                    
                    <p>Although not specifically called for in the FOA, one way for Centers to demonstrate external collaborations is to calculate the total percentage of publications achieved through inter-institutional collaborations, either Center-wide or within Research Programs</p>                </div>

                @*--- Quest12 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target12" title="Click to expand/collapse the answer">
                        <b>12.	How is a Center’s budget eligibility calculated?</b>
                    </p>
                </blockquote>

                <div id="target12" class="aText collapse out">
                    <p>The OCC will determine a Center’s total budget eligibility based on NIH cancer-relevant funding for the previous fiscal year. For NIH funding other than NCI, the Research, Condition, and Disease Categorization system in RePORTER is used to determine cancer relevance. Funding from non-NIH sources are excluded from the calculation.</p>
                    <p>At OCC’s discretion, some mechanisms may be excluded from the calculation for a variety of reasons. For example, large infrastructure grants (such as the P30 itself and association supplements, data coordinating centers, etc.) will be excluded. Exceptionally large awards, if they significantly increase budget eligibility beyond what the Centers</p>
                    <p>Program can fund, may also be excluded. These decisions are carefully considered by OCC and will apply to all Centers.</p>
                </div>

                @*--- Quest13 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target13" title="Click to expand/collapse the answer">
                        <b>13.	Does the budget eligibility calculation affect what the center presents in the application?</b>
                        <a class="accordion-toggle" data-toggle="collapse" href="#Q13"></a>
                    </p>
                </blockquote>
                <div id="target13" class="aText collapse out">
                    <p>No, centers are free to include any grant they feel is cancer-relevant, as peer-reviewed (if from NIH or the approved peer-reviewed organizations) or non-peer-reviewed (not to be included in research programs. Reviewers are cautioned about conflating these two different lists.</p>                </div>

                @*--- Quest14 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#target14" title="Click to expand/collapse the answer">
                        <b>14.	How should a center assess cancer relevance?</b>
                    </p>
                </blockquote>

                <div id="target14" class="aText collapse out">
                    <p>Each center can choose its own method of assessing the cancer relevance of non-NCI grants. It should be justifiable to reviewers. We recommend centers have a rigorous process that they present to reviewers at the site visit.</p>                </div>


                <hr>
                @*--- Rev Questions ---*@

                <h3 id="Review" style="text-align:center">FAQs related to the Site Visit </h3><br />

                <p style="color: red; text-align:center">Site visits are currently being held in a virtual format. The following FAQs are related to in person site visits.</p><br />

                @*--- R1 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#targetR1" title="Click to expand/collapse the answer">
                        <b>1.	How much time is devoted to the site visit?</b>
                    </p>
                </blockquote>

                <div id="targetR1" class="aText collapse out">
                    <p>A decision on the exact time limit for the site visit will be made in consultation with the Scientific Review Officer (SRO). As before, centers should plan on breakfast and for a mid-day executive session, which includes a brief working lunch for the site visit team</p>                </div>

                @*--- R2 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#targetR2" title="Click to expand/collapse the answer">
                        <b>2.	Can the center choose to not present some components? </b>
                    </p>
                </blockquote>

                <div id="targetR2" class="aText collapse out">
                    <p>Presentations are required for some critical components, such as the CPDM, PRMS, accrual of minorities, women, and children, and the six essential characteristics. For other components, it is the center’s choice as to what will be presented at the site visit. All components included in the CCSG applications, even if not presented by an applicant during the site visit, require a single question/answer period (up to a maximum of 10 minutes) at the site visit.</p>                </div>

                @*--- R3 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#targetR3" title="Click to expand/collapse the answer">
                        <b>3.	What about poster on the shared resources?</b>
                    </p>
                </blockquote>

                <div id="targetR3" class="aText collapse out">
                    <p>Poster sessions are not required, although they do serve as a focal point for reviewers to talk to the shared resource leaders and are thus recommended.</p>                </div>


                @*--- R4 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#targetR4" title="Click to expand/collapse the answer">
                        <b>4.	What about posters on other topics?</b>
                    </p>
                </blockquote>

                <div id="targetR4" class="aText collapse out">
                    <p>A Center may choose to have posters addressing other topics they wish to present to reviewers, although there is no guarantee that reviewers will visit them.</p>                </div>


                @*--- R5 ---*@
                <blockquote>
                    <p class="tip-top tooltipColor" data-toggle="collapse" data-target="#targetR5" title="Click to expand/collapse the answer">
                        <b>5.	Will there still be tours? </b>
                    </p>
                </blockquote>
                <div id="targetR5" class="aText collapse out">
                    <p>
                  <li>Tours of shared resources are no longer allowed.</li>
                  <li>The tour of the Clinical Trials Office is still expected, but if geography prevents quick access to the CTO, the Center may opt to stage the visit in a room with access to all protocol material (either hard copies or digital form) the review team may want to examine and with all personnel they may want to question. This should be discussed with the SRO prior to the site visit.</li>
                    </p>
                </div>

            </div>@*End of Page Content*@
                    </div>@*End of Row*@
                    </div> @*End of container*@
</body>
</html>