@{
    ViewBag.Title = "Contact Us";
}
@*COMMENTS---------------------------------------------------------------------------------
        DATE        DEVELOPER    COMMENTS
        11/16/2014  Chi         Created.
        11/24/2014  AM          Modified langauge
                                Added Icon to telephone number
        12/16/2014  AM          Added Title to head 508C
        12/24/2014  AM          Corrected Public Inq E-Mail Link
        12/30/2014  AM          Changed Visitor Parking Language
        12/31/2014  AM          Changed the map to default to NCI; user is able to save the location or select "directions" to get various directions options to do this go to https://developers.google.com/maps/documentation/embed/start
                                Removed allow selection request
        01/28/2015  AM          Included NCI Shuttle Information and removed " Address " header
        03/06/2015  AM          Changed div background (too much almond) added tooltip to breadcrumbs, reference grayfont and occhyperlink, changed phone icon color and other colors to meet CCA testing (please verify)
                                Hid comments, restructured page headings
        03/16/2015  AM          Added home tooltip, removed unecessary <br> made Divs line up nicely
                                Added Fixed Panel
        03/27/2015  Chi         Modified, the panel, the wording, removed occHyperlink, added id="home" to the 1st <a> tag
        04/02/2015  AM          Removed <i> added aria-hidden="true"
        08/14/2015  AM          Added Parking Validation line
        06/06/2018  AM          Added alt="Google Map" title="google map" for compliance
        01/31/2019  Chi         Added ARIA attributes to the HTML elements
    ------------------------------------------------------------------------------------------*@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <style>
        .colFormat {
            background-color: #ECF6FC;
            border-radius: 25px;
            border: 2px solid #e5e5e5;
        }

            .fixedPanel {
            min-height: 620px;
            max-height: 620px;
        }
    </style>
</head>
<body>
<div class="container" id="pageCenterID">
    <div class="row" id="centerContentID">
        <h2 style="color: #274D9A;">&nbsp;Contact Us</h2>
        <hr style="margin-bottom:0em;" />
        <ul class="breadcrumb" role="navigation" id="centerContentID" aria-label="pageCenterID, centerContentID">
            <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li><a id="home" href="#">@Html.ActionLink("About Us", "About", "Home")</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li class="active grayFont">Contact Us</li>
        </ul>
    </div>
    <div class="row centerContent" role="contentinfo">@*Page Content*@
        <div class="col-sm-8 colFormat fixedPanel">
            <h3 style="padding-left:17px;">Get in touch with us!</h3>
            <p style ="padding-left:17px;">
                Your feedback is important to us, <a href="mailto:ncicenters-r@mail.nih.gov">e-mail</a> us and 
                <a  href="~/Home/OurTeam">meet our team</a>.
            </p>
            <br />
            <div class="col-sm-6 centerContent" role="link" aria-describedby="google map directory">@*Begin Google Map*@
                <iframe width="550" height="400" frameborder="0" style="border:0" id="google map director" src="https://www.google.com/maps/embed/v1/place?q=National%20Cancer%20Institute%2C%20Medical%20Center%20Drive%2C%20Rockville%2C%20MD%2C%20United%20States&key=AIzaSyB8ppq1zwbj6lmaY7M2h46bopn9SNQy23c" alt="Google Map" title="google map" aria-labelledby="google map"></iframe>
            </div>
            <div class="row pull-left" style="padding-top:1px"><br />
                <p style="padding-left:27px;">If you have questions relating to patient information or treatment, please contact the Public Inquiries Office at (301) 435-3848 or by <a href="mailto:cancergovstaff@mail.nih.gov">e-mail</a></p>
            </div>
        </div>
        <div class="col-sm-4 colFormat fixedPanel" aria-describedby=" OCCname, OCCaddress">@*Second DIV*@
            <p style="font-size:large; margin-top:20px" id="OCCname"> Office of Cancer Centers</p>
            <p id="OCCAddress">
                National Cancer Institute<br />
                9609 Medical Center Drive<br />
                Room 2w212, MSC 9708<br />
                Rockville, MD 20850</><br />
                <span aria-hidden="true" class="glyphicon glyphicon-phone" style="color: #8F0000; "></span> Phone:(240) 276-5600
            </p>
            <p style="font-size:large;">Visitor Parking</p>
            <p>Please park in any of the unmarked spaces in the NCI multi-level parking garage. Do not park in any of the spaces labled JHU Montgomery County Campus parking violators will be towed. Parking tickets are validated at the security desk in the front lobby.</p>
            <p style="font-size:large">Using Public Transportation</p>
            <p>
                Metrorail service is available via the Red Line to Shady Grove (terminal Station). Various Montgomery County Ride-On bus routes service NCI Shady Grove.
                <br /><br />
                <a  href="http://www.wmata.com/rider_tools/tripplanner/tripplanner_form_solo.cfm?StreetAddressTo=9609+Medical+Center+Dr" target="_blank">Metro and bus schedule</a>
            </p>          
            <p style="font-size:large;">NCI Shuttle</p>
            <p>The NCI Shady Grove Campus offers free shuttle loops from NIH Main Campus and Shady Grove Metro Station. Shuttle buses depart from the Shady Grove Metro station beginning at 6:00 a.m. Please look for signs that say " NCI Shuttle stops here".<br /></p>
            <a  href="http://ncishadygroveshuttle.com/arrivals" target="_blank">NCI Shuttle Arrival times</a><br />
            <a  href="http://ncishadygroveshuttle.com/MobileInformation" target="_blank">NCI Shuttle Mobile Bus Information</a>
        </div>
    </div><!--row-->
</div>
</body>
</html>