@{
    ViewBag.Title = "External Website Policy";
}

@*COMMENTS---------------------------------------------------------------------------------
    DATE        Developer   NOTES
     
    12/29/2014  Chi         Created.
    12/31/2014  AM          Added Disclaimer
    01/06/2015  AM          Added Sitemap to breadcrumbs
    01/06/2015  AM          added alt tag to image
    03/04/2015  AM          Hid comments, changed colors to pass CCA Analyzer testing
    04/01/2015  AM          added id="home" to home breadcrumb 
----------------------------------------------------------------------------------------*@
<!DOCTYPE html>
<html lang="en">
<head>
    <title>External Website Policy</title>
    <style type="text/css">
        p {margin-left:6px}
    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 style="color:#274D9A;"><i>&nbsp;External Website Policy</i></h2>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" id="centerContentID">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "occHyperLink" })</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li><a href="~/Home/Sitemap" class="occHyperLink">Site Map</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li class="active grayFont">External Website Policy</li>
            </ul>
        </div><br />
        <p>This graphic notice <img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon"/> means that you are leaving the NIH website.</p>

        <p>This external link provides additional information that is consistent with the intended purpose of this site.</p>

        <p>OCC cannot attest to the accuracy of a non-federal site.</p>

        <p>Linking to a non-federal site does not constitute an endorsement by OCC or any of its employees of the sponsors or the information and products presented on the site.</p>

        <p>You will be subject to the destination site’s privacy policy when you follow the link.</p>     

    </div>@*End Container*@
</body>
</html>
