@model IEnumerable<OCCSolution.Models.vwOCCAnnouncement>
@{
    ViewBag.Title = "OCC Homepage";
}
@*************************************************************************************************************************************************************
        DATE             Developer      DESC
        10/17/2014       Chi Dinh       Created homepage/Landing Page, index.cshtml is the home page
        02/02/2017       AM             || item.OCCAnnouncementID == 26
        02/21/2018       CHi            updated to display the 3 latest annoucements.
        09/11/2018       AM             added || (item.OCCAnnouncementID == 35) (Dr. Min He welcome)
        10/31/2018       Chi            added eData 3.1.1 update annoucment and aria-label=" "
        04/11/2019       Chi            Showed the most recent 4 announcements
        04/16/2019       Chi            Showed the most recent 2 annoucements including changes to RPPR
        04/17/2019       Chi            removed the entire OCC Annoucement and updated the News & Events section
        04/30/2019       AM             modified language
        05/22/2019       AM             Updated RPPR document date per SR
        07/24/2019       Chi            Updated the landing page to welcome 71st NCI-designiated CC: Miami
        07/25/2019       AM             Modified language ^^^
        07/25/2019       AM             Modified Miami's name to match cancer.gov
        06/03/2021       AM             Updated OCC Announcement with COE & ET listings
        10/19/2021      Chi             Per Krzysztof, 1.	On the landing page, under Grants&Funding (attached)
                                        Change to 2021 P30 The link: https://grants.nih.gov/grants/guide/pa-files/PAR-21-321.html
                                        2.	In the Grants$Funding drop menu, link to a revised FOA https://grants.nih.gov/grants/guide/pa-files/PAR-21-321.html
        02/17/2022      AM              Added OCC Announcement section and included new PAR
        04/06/2022     Chi              Commented out tag <hr />
        05/10/2023     Chi              Updated FOA to notice of funding opportunity (NOFO) per OER Policy Announcement 2023-02, https://extramural-intranet.nih.gov/policy-and-guidance/oer-policy-announcement-202302. 
        05/30/2023     Chi              Updated the banner72, 
                                        Updated the OCC Annoucement on 72nd Center
        06/05/2023     Chi              Updated the landing page to say 2021 P30 NOFO (instead of FOA), corrected the link to the RPPR Information
    ***********************************************************************************************************************************************************@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCC Home Page</title>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#OCCcarousel').carousel({
                interval: 5000,
                pause: "false"
            });
            $('#playButton').click(function () {
                $('#OCCcarousel').carousel('cycle');
            });

            $('#pauseButton').click(function () {
                $('#OCCcarousel').carousel('pause');
            });

            $('#prevButton').click(function () {
                $('#OCCcarousel').carousel('prev');
            });

            $('#nextButton').click(function () {
                $('#OCCcarousel').carousel('next');
            });

            // for forward/backward carousel images
            $('#OCCcarousel').on('slid.bs.carousel', function () {
                $holder = $("ol li.active");
                $holder.removeClass('active');
                var idx = $('div.active').index('div.item');
                $('ol.carousel-indicators li[data-slide-to="' + idx + '"]').addClass('active');
            });

            $('ol.carousel-indicators  li').on("click", function () {
                $('ol.carousel-indicators li.active').removeClass("active");
                $(this).addClass("active");
            });

            //for collapse/open OCC Message Board
            $('#collapseOCCMsgBoardID').on('shown.bs.collapse', function () {
                $('.glyphicon-collapse-down').removeClass("glyphicon-collapse-down").addClass("glyphicon-collapse-up");
            });

            $('#collapseOCCMsgBoardID').on('hidden.bs.collapse', function () {
                $('.glyphicon-collapse-up').removeClass("glyphicon-collapse-up").addClass("glyphicon-collapse-down");
            });
        });
    </script>
</head>
<!DOCTYPE html>
<html lang="en">
<body>


    <div class="container" id="pageCenterID">

        @* Carousel starts *@
        <div class="col-sm-12 centerContent" style="padding-bottom:22px;">
            <div id="OCCcarousel" class="carousel" data-ride="carousel">
                <!-- Carousel circular indicators -->
                <ol class="carousel-indicators tip-bottom tooltipColor" style="text-align:right;">
                    <li data-target="#OCCcarousel" data-slide-to="0" class="active" aria-label="OCC carousel"></li>
                    <li data-target="#OCCcarousel" data-slide-to="1" aria-label="OCC carousel 1"></li>
                    <li data-target="#OCCcarousel" data-slide-to="2" aria-label="OCC carousel 2"></li>
                    <li data-target="#OCCcarousel" data-slide-to="3" aria-label="OCC carousel 3"></li>
                    <li data-target="#OCCcarousel" data-slide-to="4" aria-label="OCC carousel 4"></li>
                </ol>
                <!-- Carousel items, padding Top Right Bottom Left; -->
                <div class="carousel-inner" style="width:100%;">
                    <div class="item">
                        <img class="img-rounded" src="~/images/72banner.jpg" alt="72 Cancer centers across the country banner" style="width:930px;" />
                    </div>
                    <div class="item">
                        <img class="img-rounded" src="~/images/banner2.jpg" alt="Patient-centered care informed by cutting-edge research banner" style="width:930px;" />
                    </div>
                    <div class="item">
                        <img class="img-rounded" src="~/images/banner3.jpg" alt="Understanding cancer, creating better treatments banner" style="width:930px;" />
                    </div>
                    <div class="item">
                        <img class="img-rounded" src="~/images/banner4.jpg" alt="Training future generations of cancer experts banner" style="width:930px;" />
                    </div>
                    <div class="active item">
                        <img class="img-rounded" src="~/images/banner5.jpg" alt="Bringing cancer research to the communities banner" style="width:930px;" />
                    </div>
                </div>    <!--carousel-inner-->
                <!-- Carousel Button Controls -->
                <div id="carouselButtons" style="float:right">
                    <button id="prevButton" type="button" class="btn btn-default btn-xs  tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Rotate to the previous image" aria-label="button to Rotate to the previous image">
                        <span class="glyphicon glyphicon-backward"></span>
                    </button>
                    <button id="playButton" type="button" class="btn btn-default btn-xs  tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Initiate the rotation of the carousel" aria-label="button to initiate the roation of the carousel ">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                    <button id="pauseButton" type="button" class="btn btn-default btn-xs tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Pause the rotation of the carousel" aria-label="button to Pause the rotation of the carousel">
                        <span class="glyphicon glyphicon-pause"></span>
                    </button>
                    <button id="nextButton" type="button" class="btn btn-default btn-xs tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Rotate to the next image" aria-label="button to Rotate to the next image">
                        <span class="glyphicon glyphicon-forward"></span>
                    </button>
                </div>
            </div> <!--carousel-->
        </div> <!--class col-sm-12-->
        <div class="col-lg-12">
            <!--
    <hr />
    <p style="padding-top:5px; padding-bottom:5px; padding-left:5px; background-color:#285E8E; font-size:18px; color:white" ;>Because of a lapse in government funding,</p>
    <p style="text-justify:inter-word;" class="occFontBody">

        the information on this website may not be up to date, transactions submitted via the website may not be processed, and the agency may not be able to respond to inquiries until appropriations are enacted. The NIH Clinical Center (the research hospital of NIH) is open. For more details about its operating status,
        please visit <a href="https://cc.nih.gov">cc.nih.gov</a>. Updates regarding government operating status and resumption of normal operations can be found at <a href="https://www.usa.gov/">usa.gov</a>.

    </p>
        -->
            @*<hr />*@
            <p style="padding-top:5px; padding-bottom:5px; padding-left:5px; background-color:firebrick; font-size:18px; color:white" ;>OCC Announcements</p>

            @*<p style="font-weight:bold">New NCI-Designated Cance Center</p>
            <p style="text-justify: inter-word; border-bottom: thick double #F5F5F5; " class="occFontBody">
                <b>Congratulations!</b> The NCI has designated the University of Florida Health Cancer Center as its 72nd Cancer Center among 37 states including the District of Columbia <small>- 05/302/2023</small>.</a><br /><br />
            </p>*@

            <p style="font-weight:bold">New Notices of Funding Opportunities (NOFOs)</p>
            <p style="text-justify: inter-word; border-bottom: thick double #F5F5F5; " class="occFontBody">
                Information regarding the Issuance of the PAR-21-321 can be found <a href="https://cancercenters.cancer.gov/GrantsFunding/GrantsFunding">here</a>.<br /></br>
            </p>


            <p style="font-weight:bold">New CCSG Component Leadership Listings</p>
            <p style="text-justify:inter-word;" class="occFontBody">
                Point of contact listings for the <a href="https://cancercenters.cancer.gov/Center/COE">Community Outreach and Engagement (COE)</a> and the <a href="https://cancercenters.cancer.gov/Center/ET">Education and Training (ET)</a> components have been added to the OCC website.
            </p>

            @*<hr />*@
        </div>

        <div class="col-sm-4">
            @*<a href="~/NewsEvents/NewsEvents">*@
                <p class="btn btn-block successBtn successBtnFont">
                    &nbsp;News & Events
                </p>
         
            <p style="padding-top:10px;" class="occHbold">Changes to RPPR Information</p>
            <p style="text-justify:inter-word;" class="occFontBody">
                <img class="img-thumbnail" src="~/images/occLatestNews2.png" alt="The latest news" align="right" style="height:95px; width:110px;" />
                The information guide for Cancer Center Support Grant
                (CCSG) non-competing progress reports
                has been updated.
                Additional information can be found
                <a href="~/Documents/InformationForCCSGNonCompetingProgressReports508.pdf"><span>here</span></a>. <br /> <br />
                For applications submitted under PAR 13-386, please use <a href="https://cancercenters.cancer.gov/documents/InstructionsforCCSGNonCompetingProgressReportsUsingRPPR2016508C.pdf"><span>the May 08, 2019 RPPR Information.</span></a>.
            </p>
        </div>
        @* 2nd column *@
        <div class="col-sm-4">
            <a href="~/GrantsFunding/GrantsFunding">
                <p class="btn btn-block successBtn successBtnFont successBtnlink  tip-top tooltipColor" style="text-align:left;" data-original-title="Click  here to go to the Grants & Funding page">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Grants & Funding
                </p>
            </a>
            <p style="padding-top:10px;" class="occHbold">2021 P30 Notice of Funding Opportunity</p>
            <p style="text-justify:inter-word; text-align:left;" class="occFontBody">
                <img class="img-thumbnail border" src="~/images/occGrantAppMoneyJar.png" alt="Grants and funding" align="right" style="border-color:#bfbfbf; border-width:1px; height:95px; width:110px" />
                This notices of funding opportunity (NOFO) invites new and renewal applications for P30 Cancer Center Support Grants (CCSGs) to support NCI-designated Cancer Centers.
                <a href="https://grants.nih.gov/grants/guide/pa-files/PAR-21-321.html" target="_blank"><span>Read more</span></a>
            </p>
        </div>
        @* 3rd column *@
        <div class="col-sm-4">
            <a href="~/PoliciesResources/PoliciesResources">
                <p class="btn btn-block successBtn successBtnFont successBtnlink tip-top tooltipColor" style="text-align:left;" data-toggle="tooltip" data-original-title="Click  here to go to the Policies & Resources page">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Policies & Resources
                </p>
            </a>
            <p style="padding-top:10px;" class="occHbold">NCI–designated Cancer Center Identity Badges</p>
            <p style="text-justify:inter-word;" class="occFontBody">
                <img class="img-thumbnail border" src="~/images/CCIdentityBadgeThumb.png" alt="Policies and resources" align="right" style="border-color:#bfbfbf; border-width:1px; height:95px; width:110px" />
                NCI-Designated Cancer Centers and NCI-Designated Comprehensive Cancer Centers will be allowed to use their respective NCI CC or NCI CCC Identity Badge in the promotion, advocacy, educational, and other related activities of their individual cancer center.
                <a href="~/PoliciesResources/LogoUsagePolicy"><span> View usage policy</span></a>
            </p>
        </div>
    </div><!--row-->
    </div> <!--Container class-->
</body>
</html>
