@model IEnumerable<OCCSolution.Models.SearchModelClass>
@{
    ViewBag.Title = "SearchResult";
}
@*********************************************************************************************************************************************
      DATE           Coder     DESC
      4/12/2022      Chi       CAN NOT use @ tag twice in code block.
                               using the latest bootstrap DataTables 1.11.5  https://datatables.net/examples/advanced_init/column_render.html
      6/8/2022       Chi       Remember the search is default to 25 search results. 
    *************************************************************************************************************************************** *@
<!DOCTYPE html>
<head>
    <title>Search Results</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <style>
        /*  These styling is for datatables */

        table#SearchResults.dataTable tbody tr:hover {
            background-color: #ffa !important;
        }

        .dataTables_wrapper .ui-widget-header {
            font-weight: normal;
            padding: .5em;
        }

        /* subheader */
        .tableBody {
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 14px !important;
            line-height: 1.428571429;
            color: #333333; /*black*/
            background-color: #f1f1f1; /* 4/11/2022 #daecf4; from white to diff light baby blue*/
            border: 1px solid #94c0d2;
        }

        /*top header, revmoved  url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png)*/
        .ui-widget-header {
            border: 1px solid #94c0d2 /*{borderColorHeader}*/;
            background-color: #9fcee2 !important;
            color: #222222 /*{fcHeader}*/;
            font-weight: bold;
            height: 50px;
            padding: .5em;
        }

        widget-header {
            border: 1px solid #aaaaaa;
            background: #9fcee2 !important;
            color: #222222;
            font-weight: bold;
        }

        table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
            background-color: #f1f1f1 !important;
        }

        table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
            background-color: #f1f1f1 !important;
        }

        table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
            background-color: #f1f1f1 !important;
        }

        table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
            background-color: #f1f1f1 !important;
        }

        table.dataTable tr.odd {
            background-color: #f1f1f1 !important;
        }
        /*light baby blue*/
        table.dataTable tr.even {
            background-color: white !important;
        }
    </style>

</head>
<html>
<body>
    <div class="container" id="pageCenterID">
        <h2 style="color:#800000">&nbsp;Search Result</h2>
        <hr style="margin-bottom:0em;" />
        <ul class="breadcrumb" style="float:left;">
            <li><a id="home" href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li><a href="~/Home/About">About Us</a> <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-right"></span></li>
            <li class="active">Search</li>
        </ul>
        <table id="SearchResults" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.URL</td>
                    </tr>

                }
            </tbody>
        </table>

        <script type="text/javascript">
            $(document).ready(function () {
                var table = $('#SearchResults').removeAttr('width').DataTable({
                    "scrollY": "900px",
                    "scrollCollapse": true,
                    "paging": true,
                    "bFilter": false,       /* hide the search box */
                    "lengthMenu": [10,25], /* Show 10 or 25 entries only, since the search is default to 25 max */
                    columns: [
                        {
                            data: 'Title', width: '40%'
                        },
                        {
                            width: '60%',
                            // make URL field a hyperlink
                            render: function (data, type, full) {
                                return '<a href="' + full[1] + '" target="_blank">' + data + '</a>';
                            }
                        }
                    ],
                    fixedColumns: true
                }); /*.DataTable level */
            }); /* document level */
        </script>
    </div>
</body>
</html>
