@{
    ViewBag.Title = "Site Map";
}

@*<!--COMMENTS------------------------------------------------------------------------------------------------------------------------------------------
        DATE        Deveoper    NOTES
        12/29/2014  Chi         Created.
        12/30/2014  AM          Added Content
        01/06/2015  AM          Removed DSM Elements link
                                Correct URL for ExternalWebsitePolicy
        01/07/2015  AM          Updated SR & RP links
        01/13/2015  Chi         Updated OCC Message Board to OCC Announcements
        02/19/2015  Chi         Added .navbar-brand to display background image on the header :-)
                                will purchase 3 iamges(Sitemap, Grants & Funding, and FAQs)
        02/25/2015  Chi         Added the panel and background color to light teal
        03/04/2014  Chi         Fixed 508 color contrast issue, used occHyperlink, grayFont CSS classes, modified the comment block
        03/06/2015  AM          Added home breadcrumb, changed page header from #005c83 to #004E6F to pass CCA test
        03/27/2015  Chi         Removed occHyperlink class!
        04/01/2015  AM          Moved id="Home" to breadcrumb
        04/02/2015  AM          Added border style to panel-body, created styles for sectionhead, subhead, added aria-hidden="true", removed <i>
        04/03/2015  AM          Added HIV Supplement hyerplink
    ---------------------------------------------------------------------------------------------------------------------------------------------------->*@
<!DOCTYPE html>
<style>
            .panel-body {
            border-radius: 25px;
            border: 2px solid #e5e5e5;
        }
            .sectionhead {
                font-size:large
            }
            .subhead {
                font-size:medium
            }
</style>
<html lang="en">
<head>
    <title>Site Map</title>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="pageCenterID">       
            <div class="col-sm-12" style="padding-top: 15px;">
                <h2 style=" color:#004E6F; float: left;">
                &nbsp;Site Map          
                </h2>  
                <span style="padding-left:1.5em;"></span>   
                <img src="~/images/sitemapbanner.png" alt="Site Map Image" style="border-radius:10px;">
            </div>
        </div>
        <div class="row centerContent">
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" id="centerContentID">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="active grayFont">Site Map</li>
            </ul>
        </div>
        <div class="col-sm-12 panel-body" style="background-color:#ECF0F0;">
            <div class="col-sm-6">
                <p class="sectionhead">Cancer Centers</p>
                <ul>
                    <li><a href="~/Center/CancerCenters">NCI-Designated Cancer Centers Map</a></li>
                    <li><a href="~/Center/CCList" >Find a Cancer Center</a></li>
                    <li><a href="~/Center/ResearchProgram" >Find a Research Program</a></li>
                    <li><a href="~/Center/SharedResource" >Find a Shared Resource</a></li>
                    <li><a href="~/DT/DT" >Benchmark Data</a></li>
                </ul>

                <p class="sectionhead">News &amp; Events</p>
                <ul >
                    <li><a href="~/NewsEvents/OCCAnnouncement" >OCC Announcements</a></li>
                    <li><a href="http://deainfo.nci.nih.gov/advisory/ncab/workgroup/CancerCtrWG/report13may14.pdf" target="_blank" >A New Approach to P30 CCSG Funding</a></li>
                    <li><a href="http://www.rarecancerseurope.org/?-Families-and-List-of-Rare-Cancers-" target="_blank" >Rare Cancers Europe</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://www.rarecare.eu/rarecancers/rarecancers.asp" >Rare Care</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                </ul>

                <p class="sectionhead">Policies &amp; Resources</p>
                <ul>
                    <li><a href="~/documents/PeerReviewFundingOrganizations508C.pdf" >Organizations with Peer Review Funding Systems</a></li>
                    <li><a href="~/PoliciesResources/LogoUsagePolicy" >Logo Usage Policy</a></li>
                    <li><a href="~/Documents/ClinicalTranslationalScienceAwards508.pdf" >Clinical Translational Science Awards</a></li>
                    <li><a href="http://grants.nih.gov/grants/funding/424/index.htm" target="_blank" >SF424</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://grants2.nih.gov/grants/funding/2590/2590.htm" target="_blank" >PHS 2590</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://cancercontrolplanet.cancer.gov/" target="_blank" >Cancer Control Planet</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://www.cancer.gov/aboutnci/organization/obf" target="_blank" >NCI Fact Book</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://grants.nih.gov/grants/oer.htm" target="_blank" >Office of Extramural Research</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                    <li><a href="http://www.cancer.gov/clinicaltrials/search/treatment-trial-guide" target="_blank" >How to find a Cancer Treatment Trial</a>&nbsp;<a href="~/Home/ExternalWebsitePolicy"><img src="~/images/exitdisclaimer.gif" alt="exit disclaimer icon" title="View External Website Disclaimer" /></a></li>
                </ul>
                <p class="sectionhead">About Us</p>
                <ul>
                    <li><a href="http://www.cancer.gov/researchandfunding/extramural/cancercenters/about/history" target="_blank" >History of the NCI Cancer Centers Program</a></li>
                    <li><a href="~/Home/OurTeam" >Meet Our Team</a></li>
                    <li><a href="~/Home/Contact" >Contact Us</a></li>
                </ul>

                <p class="sectionhead">Frequently Asked Questions (FAQs)</p>
                <ul>
                    <li><a href="~/Home/CCSGFAQs" >Cancer Centers Support Grants FAQs</a></li>
                    <li><a href="~/Home/DTFAQs" >Data Tables FAQs</a></li>
                    <li><a href="~/Home/FOAFAQs" >FOA Specific FAQs</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <p class="sectionhead">Grants &amp; Funding</p>

                <p class="subhead">Program &amp; Funding Announcements</p>
                <ul>
                    <li><a href="http://grants.nih.gov/grants/guide/pa-files/PAR-13-386.html" target="_blank" >Cancer Center Support Grants (CCSGs) for NCI-Designated Cancer Centers (P30)</a></li>
                    <li><a href="http://grants.nih.gov/grants/guide/notice-files/NOT-CA-14-008.html" target="_blank" >Notice of Correction to PAR-13-386</a></li>
                    <li><a href="~/GrantsFunding/CURESupp" >CURE Supplements</a></li>
                    <li><a href="~/GrantsFunding/HIVSupp">HIV-Global Supplement to P30 Cancer Center Support Grants</a></li>
                </ul>

                <p class="subhead">Data Safety and Monitoring Plans (DSMPs)</p>
                <ul>
                    <li><a href="~/grantsfunding/dsmppolicy" >Policy on Peer Review of DSMP</a></li>
                    <li><a href="~/grantsfunding/dsmprevcriteria" >DSMP Review by NCI Staff</a></li>
                </ul>

                <p class="subhead">Competing Application Information</p>
                <ul>
                    <li><a href="~/GrantsFunding/FOAChangesOutline" >Outline of 2014 FOA Changes</a></li>
                    <li><a href="~/GrantsFunding/GuidelineChangesOutline" >Outline of 2013 Guideline Changes</a></li>
                    <li><a href="~/GrantsFunding/PRMSandCPDMGuidance" >Guidance Regarding the Protocol Review and Monitoring System (PRMS) and the Clinical Protocol and Data Management (CPDM) Components of the CCSG</a></li>
                    <li><a href="~/GrantsFunding/CCSGPeerRev" >Peer Review Process Relevant to the CCSG</a></li>
                </ul>

                <p class="subhead">Data Tables Guides &amp; Other Information</p>
                <ul>
                    <li><a href="~/GrantsFunding/ICD9View" >ICD 9</a></li>
                    <li><a href="~/GrantsFunding/ICDView" >ICD 10</a></li>
                    <li><a href="~/GrantsFunding/RPPR" >RPPR Instructions</a></li>
                    <li><a href="~/Documents/CCSGDataGuide508C.pdf" >CCSG Data Guide</a></li>
                    <li><a href="~/Documents/eData-508c.pdf" >CCSG Electronic Data Guide (eData)</a>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 1A Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 1B Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 1C Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 1D Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 2A Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 2B Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 3 Template</a></li>
                    <li><a href="~/Documents/DT1ATemplate.xls" >Data Table 4 Template</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
