@{
    ViewBag.Title = "CCSGPeerRev";
}

@*COMMENTS---------------------------------------------------------------------------------
        DATE        DEVELOPER   NOTES

        11/12/2014  AM          Replaced Color names with HEX Codes
                                Removed color style for "glyphicon glyphicon-circle-arrow-right"
                                Moved Print VS to bottom of page
        12/03/2014  AM          Removed orange color from <a>
        12/14/2014  AM          Updated URL & target_blank
        12/17/2014  AM          Updated URL & target=_blank
        01/15/2015  AM          Updated Date
                                Update URL http://grants.nih.gov/grants/guide/notice-files/NOT-OD-13-030.html per LW
        02/03/2015  AM          Moved Print Version to Scroll Spy
        02/10/2015  AM          Updated URLs with the English Language
        03/17/2015  AM          Added tooltip to home, referenced grayFont, hid comments, CCA pass, cleaned up code, restructured page headers
        04/01/2015  AM          Added id="home" to home bread crumb, removed darkorange style from print version <a>
        12/21/2017  AM          Updated with Document
        05/09/2019  AM          Updated with document
    ------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CCSGPeerRev</title>
<style type="text/css">
        /* Custom Styles */
 ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #005c83;
                    border: 1px solid #274D9A;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 30px; /* Set the top position of pinned element */
            }

                .tableHeader{
                text-align:center; 
                background-color:#400040; 
                color:#FFFFFF;
            }
                tr th {text-align:center;}
               
                .sectionHead{ font-size:large; 
                              font-weight:bold;
                              /*text-align:center*/
                }
                .subHead {
                            font-size: medium;
                            color:#274d9a;
                            font-weight:bold
                }

    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 class="text-primary" style="color:#274d9a">&nbsp;Peer Review Processes Relevant to the CCSG</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Updated May 09, 2019</small></p>
                <hr style="margin-bottom:0em;" />
                <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                    <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                    <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                    <li class="active grayFont">Peer Review Processes Relevant to the CCSG</li>
                </ul>
</div>

        <div class="row">
            <div class="col-xs-3" id="myScrollspy">@*begin scrollspy*@
                <ul class="nav nav-tabs nav-stacked affix-top" style="color:#0066CD;" data-spy="affix" data-offset-top="125">
                    <li style="color:#0066CD" class="active"><a href="#Back">Background</a></li>
                    <li><a href="#Materials">Review Materials</a></li>
                    <li><a href="#Types">Types of Review</a></li>
                    <li><a href="#Compre">Application and Review</a></li>
                    <li><a href="#ReEval">Peer Re-Evaluation of PRMS</a></li>
                    <li><a href="~/documents/PeerReviewProcessRelevantToCCSG508c.pdf" target="_blank" style="text-align:center">PDF Version</a></li>

                </ul>
            </div>
            <div class="col-xs-9">
                <h3 style="text-align:center">PEER REVIEW PROCESSES RELEVANT TO THE CANCER CENTER SUPPORT GRANT</h3><br /><br /><br /><br />
                    
                <p class="sectionHead" id="Back">BACKGROUND</p><hr />
                <p>Cancer centers may have a number of appropriate missions—research, education, and care. The CCSG predominantly supports the research mission of the center. The role of peer review is to assess the extent to which the center has promoted or is likely to promote excellence in research that may lead to a reduction in the incidence, morbidity, and mortality attributable to cancer to persons within their catchment area and beyond. Reviewers also evaluate how well the center’s leadership, organization, and processes for development and evaluation facilitate scientific productivity, strengthen the institution’s research capabilities, and enable its investigators to take advantage of scientific opportunities beyond what would have likely occurred at the institution without the CCSG.</p>
                <p>
                    Successful cancer centers:
                    <ul>
                        <li>have a strong peer-reviewed research base in cancer-related science</li>
                        <li>add tangible value to the research base already in place within the institution, and</li>
                        <li>meet all six essential characteristics of an NCI-designated Cancer Center.</li>
                    </ul></p>


                <p class="subHead">Reviewing Science in the CCSG</p>

<p>Science, not process, is the primary focus of the review. Even when process is to be specifically evaluated such as with planning and evaluation or use of developmental funds, the criteria for success are the scientific judgment behind, or consequences of, particular actions or decisions. In a CCSG review, assessment of scientific quality differs importantly from the peer review of individual grants. It is not the role of peer review to re-evaluate individual projects that have already received fundable overall impact scores. Rather, scientific review of a CCSG should seek to evaluate the major issues listed under Section V (Application Review Information) of PAR-17-095.</p>               
          
               <p class="subHead">Assessing Merit Despite Institutional Diversity</p>
<p>The peer-review process will evaluate scientific merit and the value-added by the center across a variety of institutions. NCI encourages peer review to recognize and reward scientific excellence and the diversity of organizational forms. Small institutions compete directly with large ones; centers organized only recently compete against distinguished cancer-research organizations that have existed for decades. Some centers may be comprised of a consortium of scientific institutions. Scientific excellence is not synonymous with large size; smaller institutions may develop a limited number of scientific Programs that capitalize on their specific scientific

strengths or special populations. The primary consideration is the merit of the Programs presented not their number or size.
</p>               
             <br />


                <p class="sectionHead" id="Materials">REVIEW MATERIALS TO BE MADE AVAILABLE</p><hr />
                <ul>
                    <li>Data Table 2, Active Funded Projects, sorted by Scientific Program; and in the same format, a separate list of grants and contracts pending peer review, approval and funding, sorted by Scientific Program (or listed as XY if applicable).</li>
                    <li>Data Table 4, List of Clinical Research Studies, sorted by Scientific Program (where applicable) using the definitions and sort order specified in the Data Table 4 instructions.</li>
                    <li>Institutional protocols reviewed by the center’s Protocol Review and Monitoring System.</li>
                    <li>The complete institutional Data and Safety Monitoring Plan.</li>
                    <li>The Strategic Plan</li>

                </ul>
                <br />
  
                <p class="sectionHead" id="Types">TYPES OF REVIEW</p>
                <hr />
            <p>CCSG applications undergo peer review under the authority and responsibility of the Scientific Review Officer (SRO). The center undergoes a site visit; the site visit committees gather information for final evaluation by the NCI Initial Review Group Subcommittee-A (NCI Subcommittee-A or NCI-A, <i>i.e.</i>, Parent Committee).</p>
            <p>The SRO will contact the Center director in advance of the site visit date to decide on the appropriate length of time for the site visit, discuss the proposed agenda, and coordinate other site visit logistics.</p>
            <p>Proper review of a center, whether at site visits or at the deliberations of the NCI Subcommittee- A, requires evaluation by peers: scientists with substantial experience, a broad perspective on cancer research, and scientific, organizational, and administrative sophistication. Peers may be drawn from Cancer Centers or Institutions without centers.</p>

                <p class="subHead">Site Visit Reviews</p>
                <p>A review team will visit the center to seek clarification and update of the application through presentations and tour(s). The separate administrative review during the site visit will be as short as possible, based on the completeness of the application, to permit center administration to attend the site visit presentations. The maximum time spent on site will depend on the size and complexity of the application and the center. Large centers are encouraged to present formal scientific Programs in groups, rather than individually, to allow more time for discussion, and have the option to present shared resource data as part of the slide book (posters are optional), so reviewers can focus more time on the Center’s scientific Programs. A written report of the site visit is provided to the applicant, who may submit factual corrections prior to the application’s final evaluation by the NCI Subcommittee-A.</p>
                
            <p class="subHead">NCI Subcommittee-A Review</p>
            <p>The NCI Subcommittee-A is a chartered review committee of the NIH. After considering the written report of the site visit committee (where applicable), the discussion by the NCI Subcommittee-A members who participated in the site visit, the deliberations of the full committee, and the response of the applicant to the site visit report (where applicable), the NCI Subcommittee-A provides a final merit evaluation and a budget recommendation for the CCSG application in a Summary Statement, which is provided to the P30 PD/PI.</p>
            <p>The NCI Subcommittee-A also determines if the criteria for comprehensiveness are met (where applicable) and completes peer re-evaluation of PRMS, where required.</p>                
            
            <p class="subHead">Ad hoc Review (Special Emphasis Panel)</p>
            <p>When certain conflicts-of-interest arise within the NCI Subcommittee A membership (<i>i.e.</i>, application from a Principal Investigator who is a member of the NCI Subcommittee A), the SRO conducts an ad hoc review <i>in lieu</i> of the usual process. All applications are subject to final review by the NCAB.</p>                


            <p class="subHead">National Cancer Advisory Board (NCAB) Approval</p>
                 <p>The NCAB is the final step in the peer review process. The NCAB may concur with all peer review recommendations, ask for re-review, or make some other recommendations. NCAB approval must precede funding.</p>                
            <br />
                
                <p class="sectionHead" id="Compre">APPLICATION AND REVIEW FOR COMPREHENSIVENESS</p><hr />
                
                    <p>The determination of whether a cancer center will be designated as “comprehensive” by the NCI is determined by whether the center fulfills the broad scientific and other requirements for comprehensiveness as described in other components of the application. In consortium centers, a comprehensive designation may be based on research in the primary institution alone, or on supplemental strengths of the research in all consortium institutions.</p>
                    <p>If an NCI-designated Comprehensive Cancer Center’s competing renewal application meets the scientific standards for comprehensive recognition from the NCI Subcommittee-A, but is voted an overall impact score that does not merit funding, the center may retain the NCI comprehensive designation only for as long as the NCI maintains the “active” status of the CCSG through administrative actions.</p>
            <br />
                <p class="sectionHead" id="ReEval">PEER RE-EVALUATION OF THE PROTOCOL REVIEW AND MONITORING SYSTEM</p><hr />

           <p>If the PRMS is conditionally approved or disapproved, staff of the OCC will contact the P30 PD/PI approximately four months in advance of the review date recommended by peer reviewers to discuss the center’s readiness for re-evaluation.   If the center is ready, staff will forward a request for an application for re-evaluation of the PRMS by the NCI IRG Subcommittee A with accompanying instructions. A funded grantee may undergo re-evaluation of the PRMS only once during the grant project period. Peer reviewers may approve or disapprove the PRMS at the time of re-evaluation; <i>i.e.</i>, there is no option for conditional approval.</p>
           <p>If the PRMS is disapproved, institutional protocols that have not been peer-reviewed by approved funding agencies or mechanisms may not use CCSG-supported shared resources, the Clinical Protocol and Data Management component, or Early Phase Clinical Research Studies supported by CCSG Developmental Funds category. Additionally, the Center may not use CCSG funding for Early Phase Clinical Research Studies until the PRMS has been re-evaluated and approved.  The PRMS must continue to operate under institutional funds until approval is obtained.</p>
           
            
            </div>@*content*@
        </div>@*row*@
    </div> @*container*@
</body>
</html>