@{
    ViewBag.Title = "Data Guide";
}
@*COMMENTS-----------------------------------------------------------------------------------------------------------------------
        DATE            DEVELOPER   NOTES

        02/04/2015      AM          Page Created
        02/10/2015      AM          Updated URLS with the English Language
        02/17/2015      AM          Changed HS to HRS and added OTH in Table 4-3
        03/11/2015      Chi         ARIA the page
        03/17/2015      AM          Added tooltip to Home
        03/27/2015      Chi        *Modified the Updated Date on the title, removed occHyperlink class!
        04/01/2015      AM          fixed issue with "CCSG Data Guide" breadcrumb showing up white (commented out the li.active style)
                                    moved id="home" to home breadcrumb
        04/02/2015      AM          added aria-hidden="true", fixed some cosmetic issues, removed <i>
        01/14/2016      AM          inserted space between InterventionalIndividuals in DT4 Section
        01/2017         AM          Updated to DataGuide v3 content
        11/28/17        AM          Removed "FOR COMPETING APPLICATIONS ONLY"
        02/17/2018     Chi          Updated from 3.0 to 3.1 and use generic name CCSGDataGuide508.pdf (no version, no code change in the future if pdf changes.)
        03/06/2018      AM          Correct ICD 10 URL
        06/18/2019      AM          Changed Anatomic Site to Primary Site
        08/27/2019      AM          Corrected Format in Shared Resources Category Table
        10/01/2019      AM          Updated DT example URLs
        10/09/2019      AM          Updated Summary of Changes table
        09/02/2020      AM          Updated DT5 and summary of changes
        02/16/2021      AM          Updated Peer Review Organization document link
        08/24/2022     Chi          Updated the proken link to American College of Surgeons-defined analytic case codes 00 – 22 (pages 91 and 92), 
                                    Updated broken links to Accrual defn in clinicaltrials.gov, PRFundinigOrgs508.pdf (notice the naming convention) 
                                    Added indentation to 2nd level of bullet in DT4, 
                                    Updated from v3.1 to v3.1.1
       03/28/2023     Chi           Added Prag field, and changed "Yes" to "Y" and "No" to "N"                  
                             
    ------------------------------------------------------------------------------------------------------------------------------*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCSG Data Guide</title>
    <style type="text/css">
        /* Custom Styles */
        ul.nav-tabs {
            width: 140px;
            margin-top: 20px;
            border-radius: 4px;
            border: 1px solid #ddd;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
        }

            ul.nav-tabs li {
                margin: 0;
                border-top: 1px solid #ddd;
            }

                ul.nav-tabs li:first-child {
                    border-top: none;
                }

                ul.nav-tabs li a {
                    margin: 0;
                    padding: 8px 16px;
                    border-radius: 0;
                }

                ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
                    color: #fff;
                    background: #005c83;
                    border: 1px solid #274D9A;
                }

                ul.nav-tabs li:first-child a {
                    border-radius: 4px 4px 0 0;
                }

                ul.nav-tabs li:last-child a {
                    border-radius: 0 0 4px 4px;
                }

            ul.nav-tabs.affix {
                top: 30px; /* Set the top position of pinned element */
            }

        .tableHeader {
            text-align: center;
            background-color: #005c83;
            color: #FFFFFF;
        }

        .liIndent {
            margin-left: 40px;
        }

    </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 class="tealFont">&nbsp;CCSG Data Guide</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Revised April 1, 2023</small></p>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="grayFont active">CCSG Data Guide</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-xs-3" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked affix-top" data-spy="affix" data-offset-top="125">
                    <li class="active"><a id="home" href="#intro" style="color:#ffffff; background-color: #285E8E; border-color: #357ebd; text-align:left;">Introduction</a></li>
                    <li><a href="#dt1a">Data Table 1A</a></li>
                    <li><a href="#dt1b">Data Table 1B</a></li>
                    <li><a href="#dt1c">Data Table 1C</a></li>
                    @*<li><a href="#dt1d" >Data Table 1D</a></li>*@
                    <li><a href="#SRCat">Shared Resource Category Table</a></li>
                    <li><a href="#dt2a">Data Table 2A</a></li>
                    <li><a href="#dt2b">Data Table 2B</a></li>
                    <li><a href="#dt3">Data Table 3</a></li>
                    <li><a href="#dt4">Data Table 4</a></li>
                    <li><a href="#dt5">Data Table 5</a></li>
                    <li><a href="#sum">Summary of Changes</a></li>
                    <li><a href="~/Documents/CCSGDataGuide508.pdf" target="_blank" style="text-align:center">PDF Version</a></li>
                </ul>
            </div>
            <div class="col-xs-9">
                @*<h5 style="text-align:center; color: red; font-weight:bold">FOR COMPETING APPLICATIONS ONLY</h5>*@
                <h2 style="text-align:center">P30 Cancer Center Support Grant</h2>
                <h3 style="text-align:center">Data Table Guide v3.1.2</h3><br />

                <h4 style="text-align:center">
                    National Institutes of Health / DHHS<br />
                    National Cancer Institute<br />
                    Office of Cancer Centers<br /><br />
                    9609 Medical Center Drive<br />Rockville, MD 20850<br />
                    <br /><span><a href="http://cancercenters.cancer.gov">http://cancercenters.cancer.gov</a></span>
                </h4>
                <h3 id="intro" style="text-align:left">INTRODUCTION</h3><hr />

                <h4 id="purpose" style="font-weight:bold">Purpose of the Data Tables</h4>
                <p>In competing applications (Types 1 and 2), the Data Tables (DT) facilitate consistency and thoroughness in review by providing peer reviewers with standardized information on center organization and leadership, active cancer-related research, and several aspects of clinical function.</p>
                <p>In non-competitive applications (Types 3 and 5), electronic DT 1-4 (eData), submitted to the Office of Cancer Centers (OCC), are used to assess center progress, generate reports, and produce benchmark data on the Centers program.</p>

                <h4 id="subtype" style="font-weight:bold">Submission Types</h4>

                <p>Please use the following table to determine appropriate DT submission:</p>

                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader" style="width:20%;">
                            <th>Application Type</th>
                            <th>ASSIST</th>
                            <th>RPPR</th>
                            <th>eData (to OCC)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align:center">1</td>
                            <td style="text-align:center">DT 1-5</td>
                            <td style="text-align:center">None</td>
                            <td>None (DT 1-4 due if CCSG is awarded)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">2</td>
                            <td style="text-align:center">DT 1-5</td>
                            <td style="text-align:center">None</td>
                            <td>DT 1-4 (60 days prior to start date)*</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">3</td>
                            <td style="text-align:center">NA</td>
                            <td style="text-align:center">DT 1</td>
                            <td>DT 1-4 (60 days prior to start date)</td>
                        </tr>
                        <tr>
                            <td style="text-align:center">5</td>
                            <td style="text-align:center">NA</td>
                            <td style="text-align:center">DT 1</td>
                            <td>DT 1-4 (60 days prior to start date)</td>
                        </tr>
                </table>
                <p><b>Note:</b> Per NIH policy, T2 applications serve as the progress report for the fiscal year in which the application is newly funded. Although no separate RPPR need be submitted 60 days prior to the start date of the newly funded award, DT 1-4 must still be submitted at that time.</p>
                <p>See <a href="~/GrantsFunding/eData">eData Guide</a> for instructions on format. </p>

                @*<p>An FAQ document for further guidance is at available at <a href="~/home/FAQs">FAQs</a>.</p>*@

                <p>General Instructions for DTs:</p>
                <ul class="liIndent">
                    <li>Insert the full grant number (e.g., 1P30CA000000-01) in the upper right corner of each page</li>
                    <li>Label Data Tables consistently (e.g., 1A, 1B, 1C)</li>
                    <li>Provide only the information requested</li>
                    <li>It is permissible to have different reporting dates for the different DTs</li>
                    <li>Follow the example formats provided</li>
                </ul>

                <h3 id="dt1a">DT1</h3>
                <p>DT1A-D provide general information about the Senior Leadership, Research Programs, Cancer Center Membership, and Shared Resources. </p>
                <p>For T2 applications, “New” in DT 1 refers to new since the last T2 application. For T3 and T5, “New” refers to new since the last T3 or T5 progress report.</p>
                <h3>DT1A - Senior Leadership</h3>
                <hr />
                <p>For a center-defined reporting date, follow the format below to report the Senior Leadership: 	</p>
                <br />
                <p style="float:right"><b>2P30CA120212-09</b></p>
                <div style="margin-left:25%">
                    [Name of] Cancer Center<br />
                    Reporting Date: MM/DD/YYYY<br />
                    Data Table 1A – Senior Leaders
                </div><br />
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader" style="width:20%;">
                            <th>Name of Senior Leader</th>
                            <th>Title of Leader</th>
                            <th>Degree(s)</th>
                            <th>New Leader?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sutton, Baylor </td>
                            <td>Director and Principal Investigator</td>
                            <td>MD, PhD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Marucco, Gina </td>
                            <td>Deputy Director</td>
                            <td>PhD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Galley, Mark  </td>
                            <td>Assoc. Director for Basic Science</td>
                            <td>MD</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Barrie, Thomas  </td>
                            <td>Assoc. Director for Clinical Research</td>
                            <td>MD, PhD</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Wong, Lee   </td>
                            <td>Assoc. Director for Population Research</td>
                            <td>PhD</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <h3 id="dt1b">DT1B - Research Programs</h3>
                <hr />
                <p>For a center-defined reporting date, define a center-selected alphanumeric code to denote each Research Program, and follow the format below to report the Research Programs:</p>
                <br />
                <p style="float:right"><b>2P30CA120212-09</b></p>
                <div style="margin-left:25%">
                    [Name of] Cancer Center<br />
                    Reporting Date: MM/DD/YYYY<br />
                    Data Table 1B - Research Programs
                </div><br />
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader" style="width:10%;">
                            <th>Program Code</th>
                            <th>Program Name</th>
                            <th>Program Leaders</th>
                            <th>Degree(s)</th>
                            <th>New Leader?</th>
                            <th>New Program?</th>
                            <th>Members</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Molecular and Cellular Biology</td>
                            <td>Harrington, Marc<br />Cox, Michael</td>
                            <td>MD<br />PhD</td>
                            <td></td>
                            <td></td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Cancer Control and Prevention</td>
                            <td>Pham, Phuong</td>
                            <td>PhD</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>14</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Epidemiology</td>
                            <td>Kauman, John<br />Jordon, Mark</td>
                            <td>MD<br />PhD</td>
                            <td>Yes</td>
                            <td></td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Prostate</td>
                            <td>Yeh, Grace</td>
                            <td>MD</td>
                            <td>Yes</td>
                            <td></td>
                            <td>26</td>
                        </tr>
                        <tr>
                            <td>WC</td>
                            <td>Women’s Cancers</td>
                            <td>Miller, Barbara</td>
                            <td>PhD</td>
                            <td></td>
                            <td></td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>CCGC</td>
                            <td>Cell Cycle and Growth Control</td>
                            <td>Neuhauser, Beverly</td>
                            <td>MD</td>
                            <td></td>
                            <td></td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>ZY</td>
                            <td>Non-aligned members</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>9</td>
                        </tr>
                        <tr>
                            <td>Total Members</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>127</td>
                        </tr>
                    </tbody>
                </table>
                <p><b>Note:</b> Include Program Leaders in number of members. Members in more than one program should be counted once.</p>


                @*<h3 id="dt1c">DT 1C - Cancer Center Membership</h3>
        <hr />
        <p>For a center-defined reporting date, follow the format below to report the Center’s membership:</p>
        <br />
        <p style="float:right"><b>2P30CA120212-09</b></p>
        <div style="margin-left:25%">
            [Name of] Cancer Center<br />
            Reporting Date: MM/DD/YYYY<br />
            Data Table 1C - Cancer Center Membership
        </div><br />
        <table class="table table-bordered">
            <thead>
                <tr class="tableHeader">
                    <th style="width:60%;" >Type of Member</th>
                    <th style=" width:40%;">Total Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Programmatically Aligned Members (Individuals)</td>
                    <td>118</td>
                </tr>
                <tr>
                    <td>Non-Programmatically Aligned Members (Individuals)</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Grand Total - Total Number of Cancer Center Members (Individuals)</td>
                    <td>127</td>
                </tr>


            </tbody>
        </table>*@


                <h3 id="dt1c">DT1C - Shared Resources</h3>
                <hr />
                <p>For a center-defined reporting date, follow the format below to report the Shared Resources:</p>
                <br />
                <p style="float:right"><b>2P30CA120212-09</b></p>
                <div style="margin-left:25%">
                    [Name of] Cancer Center<br />
                    Reporting Date: MM/DD/YYYY<br />
                    Data Table 1C - Shared Resources
                </div><br />
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader" style="width:10%;">
                            <th style="width:25%;">Name of Shared Resource</th>
                            <th style="width:25%;">Resource Director(s)</th>
                            <th>Degree(s)</th>
                            <th>New Leader?</th>
                            <th>New Resource?</th>
                            <th>Developing Resource?</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Biostatistics</td>
                            <td>Francini, Benjamin</td>
                            <td>PhD</td>
                            <td>Yes</td>
                            <td></td>
                            <td></td>
                            <td>6.01</td>
                        </tr>
                        <tr>
                            <td>DNA Microarray</td>
                            <td>Poole, Bruce</td>
                            <td>MD</td>
                            <td></td>
                            <td></td>
                            <td>Yes</td>
                            <td>1.35</td>
                        </tr>
                        <tr>
                            <td>DNA Sequencing</td>
                            <td>Kelley, Mark</td>
                            <td>MD, PhD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1.22</td>

                        </tr>
                        <tr>
                            <td>Genomics and  Proteomics</td>
                            <td>Goldstein, Phillip</td>
                            <td>MD</td>
                            <td></td>
                            <td>Yes</td>
                            <td></td>
                            <td>1.36</td>

                        </tr>
                        <tr>
                            <td>Bioinformatics</td>
                            <td>Mayrend, Jody</td>
                            <td>PhD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7.02</td>
                        </tr>
                        <tr>
                            <td>Vaccine Core</td>
                            <td>Mark, Joseph</td>
                            <td>PhD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1.37</td>
                        </tr>
                        <tr>
                            <td>Organic Synthesis</td>
                            <td>Singer, Richard</td>
                            <td>PhD</td>
                            <td>Yes</td>
                            <td></td>
                            <td></td>
                            <td>1.12</td>
                        </tr>
                        <tr>
                            <td>Transgenic Animals</td>
                            <td>Peters, Douglas<br />Rogers, Kate</td>
                            <td>PhD<br />MD</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1.03, 1.06, 1.09</td>
                        </tr>
                        <tr>
                            <td>Translational Chemistry</td>
                            <td>Hahn, Otto</td>
                            <td>PhD</td>
                            <td>Yes</td>
                            <td></td>
                            <td></td>
                            <td>4.08</td>
                        </tr>

                    </tbody>
                </table>
                <p><b>Notes:</b></p>
                <ul class="liIndent">
                    <li>Report only CCSG-funded shared resources</li>
                    <li>Developing shared resources are those that have not previously been peer-reviewed</li>
                    <li>Select up to three category codes from the following table:</li>
                </ul>
                <div class="panel" id="SRCat">
                    <div class="panel-heading tableHeader" style="text-align:left;">Category 1: Laboratory Science</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">1.01 Biochemical Analysis</div><div class="col-md-6">1.01 Biochemical Analysis</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.02 General Animal Facility</div><div class="col-md-6">1.20 Molecular Biology</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.03 Transgenic Facility</div><div class="col-md-6">1.21 Nucleotide Sequencing</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.04 Special Breeding</div><div class="col-md-6">1.22 Protein & Peptide Sequencing</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.05 Animal Health (Pathology/Histology)</div><div class="col-md-6">1.23 Monoclonal Antibodies</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.06 Animal Health (QC)</div><div class="col-md-6">1.24 NMR</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.08 Specific Pathogen Free (Barrier Animal Facility)</div><div class="col-md-4">1.26 MRI</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.09 Nude Mouse</div><div class="col-md-6">1.27 Spectrometry, Other (Specify)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.10 Specialized Animal Svcs (Irradiation)</div><div class="col-md-6">1.28 Radiobiology</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.11 Biohazard Control</div><div class="col-md-6">1.29 Oligonucleotide Synthesis</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.12 Organic & Synthetic Chemistry</div><div class="col-md-6">1.30 Protein/Peptide Synthesis</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.13 Chromatography</div><div class="col-md-6">1.31 Toxicology/Mutagenesis Testing</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.14 Cytology-Analytic & Immunologic</div><div class="col-md-6">1.33 Confocal Microscopy</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.15 Cytogenetics</div><div class="col-md-6">1.34 Xray Diffraction</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.16 Genetics</div><div class="col-md-6">1.35 DNA Array</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.17 Electron Microscopy</div><div class="col-md-6">1.36 Proteomics</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">1.18 Flow Cytometry</div><div class="col-md-6">1.37 Other (Define)</div>
                        </div><div class="row">
                            <div class="col-md-6">1.19 Cyclotron or Radiolabeling</div><div class="col-md-6"></div>
                        </div>
                    </div> <!--panel-body-->
                    <div class="panel-heading tableHeader" style="text-align:left;">Category 2: Laboratory Support</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">2.01 General or Equipment Repair</div><div class="col-md-6">2.07 Tissue Culture</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">2.02 Machine Shop</div><div class="col-md-6">2.10 Other (Define)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">2.03 Glassware Washing</div><div class="col-md-6"></div>
                        </div>
                    </div>
                    <div class="panel-heading tableHeader" style="text-align:left;">Category 3: Epidemiology, Cancer Control</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">3.01 Cancer Control</div><div class="col-md-6">3.05 Nutrition</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">3.03 Epidemiology</div><div class="col-md-6">3.06 Other (Define)</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">3.04 Survey</div><div class="col-md-6"></div>
                        </div>
                    </div>
                    <div class="panel-heading  tableHeader" style="text-align:left;">Category 4: Clinical Research</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">4.03 Clinical – Other</div><div class="col-md-6">4.06 Human Tissue Acquisition & Pathology/Histology</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">4.04 Pharmacology (Animal) </div><div class="col-md-6">4.07 Gene Therapy/Vector</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">4.05 Pharmacology (Lab tests)</div><div class="col-md-6">4.08 Other (Define)</div>
                        </div>
                    </div>
                    <div class="panel-heading tableHeader">Category 6: Biostatistics</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">6.01 Biostatistics</div><div class="col-md-6"></div>
                        </div>
                    </div>
                    <div class="panel-heading tableHeader">Category 7: Informatics</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">7.01 Clinical Research Informatics</div><div class="col-md-6">7.03 Public Health/Epidemiology Informatics</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">7.02 Bioinformatics</div><div class="col-md-6">7.04 Other (Define)</div>
                        </div>
                    </div>
                    <div class="panel-heading tableHeader">Category 8: Miscellaneous</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">8.01 Other (Define)</div><div class="col-md-6"></div>
                        </div>
                    </div>
                </div> <!--class="panel" id="SRCat"-->

                <h3 id="dt2a"> DT 2A and 2B</h3>
                <hr />
                <p>DT2A and DT2B report all active cancer-related research grants and contracts held by center members and awarded by external sources to the fiscally responsible institution of which the Cancer Center is a part. Grants and contracts to center members awarded to other institutions that are not formal consortium partners of the center should not be included.</p>

                <h3>DT2A</h3>
                <hr />
                <ul class="liIndent">
                    <li>Define a reporting date and include cancer-related grants and contracts that are active as of that date, including those in no-cost extension. </li></br>
                    <li>Organize data table 2a into two separate tables peer-reviewed research projects and non-peer-reviewed research projects.</li></br>
                    <li>
                        Only grant and contracts from NCI, NIH, or organizations listed in the following URL are considered peer-reviewed:
                        <a href="~/documents/PRFundingOrgs508.pdf" target="_blank">Peer Review Funding Orgs</a><br /><br />
                        All others funding sources should be listed as non-peer reviewed. The Office of Cancer Centers will perform an administrative review of DT2 in Type 1 and 2 applications to ensure compliance with this rule.
                    </li></br>
                    <li>Provide a separate DT2A for each consortium partner.</li></br>
                    <li>Grants and contracts that fund infrastructure, cores, instrumentation, etc. (i.e, not research projects) should be listed ZY and should not be assigned to a particular program; they should also not be listed in the version of DT2A of each Research Program.</li></br>
                    <li>Report projects in alphabetical order within each table by the principal investigator’s (PI) last name, or overall PI’s name for multi-component projects.</li></br>
                    <li>Report only grants and contracts that are awarded by external sources to the fiscally responsible institution of which the Center is a part, and whose PI is a Cancer Center member. Thus, grants and contracts that flow to other institutions, even if the PI is a member of the Center, are not reported, unless the other institution is a consortium partner of the Center as established by previous CCSG peer review.</li></br>
                    <li>Report only direct costs.</li></br>
                    <li>Report the entire direct cost of the project, and then provide the amount of the grant that is considered cancer-relevant. For grants that are 100% cancer-relevant (such as all grants from NCI), these figures will be identical. The Center should develop a reasonable method of determining cancer relevance; estimates of cancer-relevance should be defensible in peer-review.</li></br>
                    <li>For projects that are on a no-cost extension, list only the unobligated balance in the Annual Project and Annual Program Costs and add (NCE) at the end of the project number.</li></br>
                    <li>For projects in which a portion of the award is subcontracted to other institutions, report only the amount of the award retained by the Center in Annual Project Direct Costs and in Annual Program Direct Costs.</li></br>
                    <li>Any grant or contract that is infrastructure-related (such as the CCSG and its supplements, cores associated with such projects as SPOREs or P01s) should be coded ZY and not included in any Research Program.</li></br>
                    <li>In the version of DT2A associated with each Research Program, include only peer-reviewed research projects that are cancer-relevant; do not include any ZY projects.</li></br>
                    <li>Provide subtotals of the Direct Costs at the bottom of each of the 2 tables.</li></br>
                    <li>Consortium Centers: Submit one DT 2A for each consortium partner; combine all consortium partners in DT2B.</li>
                </ul>

                <p>Provide the following information:</p>

                <p><b>PI: </b>The last name and first initial of the PI from your Center responsible for this project (e.g., Alfred L).</p>
                <p><b>Specific Funding Source: </b>The specific name of the financial sponsor for the project (e.g., NCI, ACS).</p>
                <p><b>Project Number: </b>Use the application or grant number. This unique identification number for NIH grants, for example, is composed of the type code, activity code, Institute code, serial number, support year, and/or suffix code (e.g., 1R01CA059736-01).</p>
                <p><b>Project Start Date: </b>Official date a grant award begins; same as the first day of the first budget period. </p>
                <p><b>Project End Date: </b>Official date a grant award ends; same as the last day of the final budget period. </p>
                <p><b>Project Title: </b>The official title of the research project being carried out (e.g., Regulation of mitochondrial inheritance in yeast); please be as complete as possible.</p>
                <p><b>Annual Project Direct Costs: </b>Annual funding awarded for a particular project.</p>
                <p><b>Cancer-relevant Annual Project Direct Cost:</b> Estimate, using a method of the Centers devising, the cancer relevant portion of a project and report the funding. Be prepared to defend this estimate in peer-review. For grants that are 100% cancer-relevant (such as all NCI grants), this will be identical with the Annual Project Direct Costs.</p>
                <p><b>Program Code:</b> Provide the code of the Program, as defined by the Center in DT1B, with which this grant is associated. A single grant or contract may be associated with multiple programs. Any grant or contract that is infrastructure-related (such as the CCSG and its supplements, cores associated with such projects as SPOREs or P01s) should be coded ZY.</p>
                <p><b>Percent:</b> The portion of the funding associated with a Program.</p>
                <p><b>Annual Program Direct Cost:</b> The portion of direct cost funding associated with the indicated Program.</p>

                <p>The following examples are illustrated in the table</p>
                <p><i>Note:  Do not number the rows- that is for illustration purposes in this example table.</i></p>

                <ol class="liIndent">
                    <li>One PI, one program. This grant is 100% associated with Program 4, and is 100% cancer-relevant.</li>  </br>
                    <li>One PI, one program, partial cancer-relevance. List the entire Direct Costs under Annual Project Costs and the cancer-relevant portion under Cancer-Relevant Annual Project DC.</li>   </br>
                    <li>One PI, two programs. If the PI has dual membership in multiple programs, or if for other reasons the grant/contract should be associated with more than one program, divide the Annual Project Costs between the programs in proportion to the Percent. For the second program, you may leave all fields blank except the Program Code, Percent, and Annual Program Costs.</li>  </br>
                    <li>
                        Multi-PI. List all PI names only if the project fits the NIH definition of a multiple-PI project: “Multiple PIs have equal authority for the grant or contract and are jointly responsible for the scientific and technical direction of the project.”  This should be applied to projects from any funding source.
                        <a href="https://grants.nih.gov/grants/multi_pi/" target="_blank">Multiple-PI</a>
                    </li> </br>
                    <li>Multi-PI, two programs, partial cancer relevance.</li>  </br>
                    <li>Multi-PI with one PI being at another institution. List the other institution after PI name. List only the portion of the project direct costs that either remains with the Center or flows to the Center from the other institution.</li>  </br>
                    <li>Subcontract from another institution. List subcontracting institution after Specific Funding Source. List only the funds flowing to your Center under Annual Project Costs and Annual Program Costs.</li>  </br>
                    <li>Grant with portion subcontracted to another institution. List only funding retained by Center.</li>  </br>
                    <li>National trial authored by a Center member; list only the funding that remains with the Center in both Project and Program Costs.</li>  </br>
                    <li>Multiple project/component grant (such as SPORE or P01). List overall PI with the Annual Project Direct Costs and Cancer-Relevant Annual Project DC (not including subcontracts), leaving Program Costs blank. List subprojects separately with overall PI name and subproject PI name. Do not list projects that are subcontracted to other institutions. Note: as for all projects, use code ZY for any funding that is not a research project (e.g., cores, instrumentation grants, CCSG and its supplements), and/or does not fit into a research program (grants to non-aligned members).</li>  </br>
                    <li>For accrual-based trials, list the funding awarded for actual or estimated number of patients enrolled in the reporting year.</li>
                </ol>


                <p style="text-align:center; font-size:medium">
                    <a href="~/Documents/CCSGDataGuide508.pdf#page=8" target="_blank">DT2A Example Format Table</a>
                </p>

                <h3 id="dt2b">DT2B</h3>
                <hr />

                <p>DT2B describes the total number of cancer-related research projects (excluding the CCSG itself and associated supplements) and their aggregate total annual direct cost.</p>

                <ul class="liIndent">
                    <li>For a center-defined reporting date, list the total number of cancer-related research projects and the sum of annual direct cancer-relevant funding for each major funding agency category as follows: NCI Peer-Reviewed, Other NIH Peer-Reviewed, Other Peer-Reviewed; and Industry Non Peer-Reviewed and Other Non-Peer Reviewed Projects.  Do not include training projects, as they are reported in the Cancer Research Career Enhancement and Other Activities component. Do not include the CCSG itself or associated supplements in DT2B, but include other projects coded ZY.</li></br>
                    <li>Provide subtotals and a grand total where indicated.</li>  </br>
                    <li>For multiple project grants or contracts, count each subproject as one project (Do not count overall as one – a SPORE with 5 subprojects (example 10 above) would count as 5 projects.</li>
                </ul>
                <p>Follow the example below:</p>

                <p style="float:right; padding-right:.5em;"><b>2P30CA120212-09</b></p>
                <div style="margin-left:25%">
                    [Name of] Cancer Center<br />
                    Reporting Date: MM/DD/YYYY<br />
                    Data Table 2B - Active Funded Projects
                </div><br />
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader">
                            <th style="width:33%;">Specific Funding Source</th>
                            <th style="width:33%;">Project Direct Cost</th>
                            <th style="width:33%;">Total Number of Projects</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>NCI Peer-Reviewed Projects</td>
                            <td style="text-align:right">$5,180,000</td>
                            <td style="text-align:center">13</td>
                        </tr>
                        <tr>
                            <td>Other NIH Peer-Reviewed Projects</td>
                            <td style="text-align:right">$1,916,000</td>
                            <td style="text-align:center">9</td>
                        </tr>
                        <tr>
                            <td>Other Peer-Reviewed Projects</td>
                            <td style="text-align:right">$2,377,000</td>
                            <td style="text-align:center">5</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Subtotal Of Peer Reviewed Projects</td>
                            <td style="text-align:right; font-weight:bold">$9,473,000</td>
                            <td style="text-align:center; font-weight:bold">27</td>
                        </tr>
                        <tr>
                            <td>Industry Non-Peer-Reviewed Projects</td>
                            <td style="text-align:right">$325,000</td>
                            <td style="text-align:center">2</td>
                        </tr>
                        <tr>
                            <td>Other Non-Peer-Reviewed Projects</td>
                            <td style="text-align:right">$1,313,000</td>
                            <td style="text-align:center">4</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Subtotal Of Non-Peer Reviewed Projects</td>
                            <td style="text-align:right; font-weight:bold">$1,638,000</td>
                            <td style="text-align:center; font-weight:bold">6</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Grand Total (All Projects)</td>
                            <td style="text-align:right; font-weight:bold">$11,111,000</td>
                            <td style="text-align:center; font-weight:bold">33</td>
                        </tr>
                    </tbody>

                </table>
                <h3 id="dt3">DT3</h3>
                <hr />

                <p>DT3 is intended to provide reviewers with an overview, organized by primary cancer site, of the number of cancer cases seen at the Cancer Center.</p>
                <p>For a center-defined 12-month reporting period, DT 3 therefore reports the number of newly registered patients at the Cancer Center (registry analytic and non-analytic cases, as defined below.</p>
                <p>Use the following definitions to complete the DT 3 table:</p>

                <ul class="liIndent">
                    <li><b>Name of Reporting Source:</b> For consortium centers or those with affiliated institutions, indicate the specific name of the reporting institution.</li></br>
                    <li><b>Reporting Period:</b> The 12-month period as defined by the Cancer Center.</li></br>
                    <li>
                        <b>Reportable Cancers:</b> Malignancies with an International Classification of Diseases for Oncology (ICD) behavior code of 2 or 3 should be reported, in accordance with the established requirements of registry standard setting organizations. Refer to
                        <a href="https://cancercenters.cancer.gov/GrantsFunding/ICD10" target="_blank">ICD 10</a> for the list of International Classification of Diseases for Oncology codes.
                    </li></br>
                    <li><b>Newly registered patients:</b> Newly registered patients are those patients seen face-to-face and recorded in the Cancer Center’s Cancer Registry for the first time for that diagnosis during the reporting period. They include inpatients and outpatients who:</li>
                </ul>
                <ol class="liIndent">
                    <li>
                        are newly diagnosed and/or receiving first course of treatment at the Cancer Center, i.e., equivalent to American College of Surgeons-defined analytic case codes 00 – 22
                        <a href="https://www.facs.org/media/r5rl5scw/fords-2016.pdf" target="_blank">FORDS-2016</a>;
                    </li></br>
                    <li>have recurrent or persistent disease and are referred to the Cancer Center for evaluation and treatment, i.e., equivalent to American College of Surgeons-defined non-analytic code 32 (do not include other non-analytic codes).</li>
                </ol>

                <p>Do not include:</p>

                <ul class="liIndent">
                    <li>Any patient more than once unless they have two malignancies in the same year.</li></br>
                    <li>Consults (e.g., second opinions), new patient appointments, diagnoses at autopsy, admission of former patients for rehabilitation purposes or treatment of some other condition, or patient follow-up after treatment.</li> </br>
                    <li>Patients whose only contact with the Center is due to enrollment on protocol studies organized among community practitioners by Cancer Center staff.</li>
                </ul>

                <p>A Cancer Center without access to a local or institutional registry should use alternate means to capture data as close as possible to the above definition.</p>
                <p>Follow this table to determine method of reporting Newly Registered Patients:</p>
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader">
                            <th style="width:60%;">Source of Patients</th>
                            <th style="width:40%;">DT3 “Newly Registered Patients”</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cancer Center primary clinical arm(s), e.g., adult and pediatric hospitals and outpatient clinics that report through the Center’s cancer</td>
                            <td>Include</td>
                        </tr>
                        <tr>
                            <td>Center primary clinical arm(s) that report through a separate cancer registry</td>
                            <td>Include as separate DT3</td>
                        </tr>
                        <tr>
                            <td>CCSG peer-reviewed and NCI approved consortium partner hospital or clinic that reports through the Center’s registry</td>
                            <td> Include in same DT3 </td>
                        </tr>
                        <tr>
                            <td>CCSG peer-reviewed and approved consortium partner’s hospital or clinic that reports patients through another registry</td>
                            <td>
                                Include as separate DT3
                            </td>
                        </tr>
                        <tr>
                            <td>Cancer Center affiliates that do not report through the center’s registry</td>
                            <td>Exclude</td>
                        </tr>
                    </tbody>
                </table>

                @*<p>
            <b>Total patients newly enrolled in interventional treatment trials:</b>Interventional treatment trials are protocols designed to evaluate one or more interventions for treating a disease, syndrome, or condition. The participants may receive diagnostic, treatment, behavioral, or other types of interventions. <b>Note:</b> This equates to therapeutic trials in the previous versions of the guidelines.
            Include a patient more than once if he/she participated in more than one interventional treatment trial during the reporting period.
        </p>
        <p><b> Note:</b> Data in these two columns should match in terms of their institutional source populations, following the criteria stated above. They should reflect the number of patients, not the number of visits. </p>*@

                <p style="text-align:center; font-size:medium">
                    <a href="~/Documents/CCSGDataGuide508.pdf#page=13" target="_blank">DT3 Example Format Table</a>
                </p>

                <h3 id="dt4">DT4</h3>
                <hr />

                <p>DT4 serves as a report of the cancer-related hypothesis-driven clinical research studies open at the Cancer Center during a center-defined 12-month reporting period. Consortium centers submit only one DT4. Use the following definitions to complete DT 4:</p>

                <h4>Clinical Research includes:</h4>
                <ul class="liIndent">
                    <li>Patient-oriented research: This type of research is conducted with human subjects (or on material of human origin such as tissues, specimens and cognitive phenomena) for which an investigator (or colleague) directly interacts with human subjects. Excluded from this definition are in vitro studies that utilize human tissues that cannot be linked to a living individual, tissue banking, and studies that do not require patient consent (e.g., retrospective chart reviews). Patient-oriented research includes:</li>
                    <ul class="liIndent">
                        </br>
                        <li>Studies of mechanisms of human disease</li></br>
                        <li>Studies of therapies or interventions for disease</li></br>
                        <li>Clinical trials, and</li></br>
                        <li>Studies to develop new technology related to disease</li> </br>
                    </ul>
                    <li>Epidemiological and behavioral studies: Studies among cancer patients and healthy populations that involve no intervention or alteration in the status of the participants, e.g. surveillance, risk assessment, outcome, environmental, and behavioral studies.</li></br>
                    <li>Health services research: Protocol designed to evaluate the delivery, processes, management, organization, or financing of health care.</li>
                </ul>

                <p><b>Accrual:</b>The total number of participants accrued/enrolled who have completed or are actively in the process of completing the study.<a href="https://prsinfo.clinicaltrials.gov/definitions.html#IntEnrollment" target="_blank"> See Enrollment definition in ClinicalTrials.gov</a>.</p>
                <p><b>Multi-Institutional Clinical Research Study: </b>Clinical Research Studies that recruit participants from two or more geographically distinct enrollment Institutions not affiliated with your cancer center (e.g., other NCI-designated Cancer Centers or other research institutions). The Institutions are usually distinct in other characteristics (e.g., demographic, socioeconomic, or clinical).</p>

                <h4 id="researchcat"> <u>Clinical Research Categories</u></h4>

                <p><b>Interventional:</b> Individuals are assigned prospectively by an investigator based on a protocol to 	receive specific interventions. The participants may receive diagnostic, treatment, 	behavioral, or other types of interventions. The assignment of the intervention may or 	may not be random. The participants are followed and biomedical and/or health outcomes are assessed. </p>
                <p><b>Observational:</b> Studies that focus on cancer patients and healthy populations and involve no prospective intervention or alteration in the status of the participants. Biomedical and/or health outcome(s) are assessed in pre-defined groups of participants. The participants in the study may receive diagnostic, therapeutic, or other interventions, but the investigator of the observational study is not responsible for assigning specific interventions to the participants of the study. </p>

                <p><b>Ancillary or Correlative:</b></p>
                <ul class="liIndent">
                    <li><b>Ancillary:</b> Studies that are stimulated by, but are not a required part of, a main clinical trial/study, and that utilize patient or other resources of the main trial/study to generate information relevant to it. Ancillary studies must be linked to an active clinical research study and should include only patients accrued to that clinical research study. Only studies that can be linked to individual patient or participant data should be reported. </li></br>
                    <li><b>Correlative:</b> Laboratory-based studies using specimens to assess cancer risk, clinical outcomes, response to therapies, etc. Only studies that can be linked to individual patient or participant data should be reported. </li>
                </ul>
                <h4 id="studysource"><u>Study Source </u></h4>
                <p><b>National: </b>NCI National Clinical Trials Network (NCTN) and other NIH-supported National Trial Networks</p>
                <p>
                    <b>Externally Peer-Reviewed: </b> R01s, SPORES, U01s, U10s, P01s, CTEP, or any other clinical research study mechanism supported by the NIH or organizations on this list: <a href="~/documents/PRFundingOrgs508.pdf" target="_blank">Peer Review Funding Orgs </a>
                </p>
                <p><b>Institutional: </b>In-house clinical research studies authored or co-authored by Cancer Center investigators and undergoing scientific peer review solely by the Protocol Review and Monitoring System of the Cancer Center. The Cancer Center investigator has primary responsibility for conceptualizing, designing, and implementing the clinical research study and reporting results.</p>
                <ul class="liIndent">
                    <li>It is acceptable for industry and other entities to provide support (e.g., drug, device, other funding), but the trial should clearly be the intellectual product of the center investigator</li></br>
                    <li>This category may also include:</li></br>
                    <ul class="liIndent">
                        <li>Institutional studies authored and implemented by investigators at another Center in which your Center is participating</li></br>
                        <li>Multi-Institutional studies authored and implemented by investigators at your Center (Note: National and externally peer-reviewed studies should be listed with those categories, not as Institutional studies)</li>
                    </ul>
                </ul>
                <p><b>Industrial: </b>A pharmaceutical company controls the design and implementation of these clinical research studies.</p>
                <p><b><u>Format</u></b></p>
                <p>
                    Sort the data by Clinical Research Category and Study Source:<br /><br />
                    INTERVENTIONAL National;<br /><br />
                    INTERVENTIONAL Externally Peer-Reviewed;<br /><br />
                    INTERVENTIONAL Institutional;<br /><br />
                    INTERVENTIONAL Industrial;<br /><br />
                    OBSERVATIONAL Externally Peer-Reviewed, etc.,<br /><br />
                    ANCILLARY/CORRELATIVE Externally Peer-Reviewed, etc.
                </p>
                <p>Report the table alphabetically by PI.</p>
                <p>The column headings are defined below:</p>
                <p><b>Specific Funding Source: </b>The specific name of the financial sponsor for the clinical research study. For institutionally sponsored trials or studies, list the name of the applicable funding agencies.</p>
                <p><b>Primary Site: </b>The primary cancer site(s) (i.e. breast, ovary) the clinical research study focuses on. If the clinical research study is broadly applicable to a number of potential primary sites, enter the term “multiple” in this column.</p>
                <p><b>Protocol ID/IRB Number (Proto ID): </b>Provide the unique identifier for this study. Where available, list the NCT number, as well as the common protocol number that the trial is known under nationally, if one exists. For other trials that do not have an NCT number or a common protocol number that the trial is known under nationally, use an internal protocol identification or IRB number.</p>
                <p><b>NCT ID:</b>The unique ID assigned to the trial by the National Clinical Trial program (ClinicalTrials.gov) for trials that have been submitted to ClinicalTrials.gov Protocol Registration System (PRS) previously. This ClinicalTrials.gov ID appears as "NCT" followed by 8 numeric characters (such as NCT12345678). (i.e., NCT00009876); If it is not applicable, use the ProtocolID.
                <p><b>Protocol ID/IRB Number (Proto ID):</b> The unique identifier for the study. List the common protocol number that the trial is known under nationally, if one exists. For other trials that do not have an NCT number or a common protocol number that the trial is known under nationally, use an internal protocol identification or IRB number.</p>
                <p><b>Other Protocol ID (Other Proto ID):</b> Additional IDs assigned to the trial, including the following: NCI, Cancer Therapy Evaluation Program (CTEP) or Division of Cancer Prevention (DCP), unique IDs from other  registries, Protocol numbers assigned by the review board, other IDs.</p>
                <p><b>Local Trial ID:</b> The unique ID assigned at the Cancer Center level and used at the sites level to identify a trial.</p>
                <p><b>NCI ID:</b> The unique ID assigned to the trial by the NCI's Clinical Trials Reporting Program (CTRP).</p>
                <p><b>PI:</b>The last name and first initial of the PI from the Center who is responsible for this Clinical Research Study.</p>
                <p><b>Program (Prog) Code: </b>Use the Research Program code defined by the center in DT 1B. For clinical research studies that span more than one Research Program, include both Program Codes in this column. </p>
                <p><b>Date Opened (activation): </b>The official start date of a trial determined by 1) the date of activation noted in an official clinical trial activation announcement or 2) date of first patient accrual if the trial in question did not have a formal activation announcement.</p>
                <p><b>Date Closed: </b>The date the clinical research study closed to accrual. This does not include patient follow-up. If the study is still open, leave this field blank.</p>
                <br />
                <h4 id="phaseID"><u>Phase</u></h4>
                <p><b>Early Phase I:</b> Exploratory trials, involving very limited human exposure, with no therapeutic. or diagnostic intent (e.g., screening studies, microdose studies). See FDA guidance on exploratory IND studies for more information.</p>
                <p><b>I:</b>Includes initial studies to determine the metabolism and pharmacologic actions of drugs in humans, the side effects associated with increasing doses, and to gain early evidence of effectiveness; may include healthy participants and/or patients.</p>

                <p><b>I/II:</b>Trials that are a combination of phases 1 and 2.</p>

                <p><b>II:</b>Includes controlled clinical studies conducted to evaluate the effectiveness of the drug for a particular indication or indications in participants with the disease or condition under study and to determine the common short-term side effects and risks.</p>

                <p><b>II/III:</b>Trials that are a combination of phases 2 and 3.</p>

                <p><b>III:</b>Includes trials conducted after preliminary evidence suggesting effectiveness of the drug has been obtained, and are intended to gather additional information to evaluate the overall benefit-risk relationship of the drug.</p>

                <p><b>IV:</b>Studies of FDA-approved drugs to delineate additional information including the drug's risks, benefits, and optimal use.</p>

                <p><b>N/A:</b>Trials without phases (for example, studies of devices or behavioral interventions).</p>

                <p><b>Pilot:</b>Pilot attribute can be assigned to any phase.  Indicate whether the study is a pilot phase by inserting “Y” for yes and "N" or (leave blank) for no.</p>

                <br />
                <h4 id="primarypurposeID"><u>Primary Purpose</u></h4>
                <p>Assign the appropriate Primary Purpose to Interventional or Non-Interventional (Observational or Ancillary/Correlative) Clinical Research Categories.</p>
                <p><b>Basic Science (BAS): </b>Protocol designed to examine the basic mechanisms of action (e.g., 	physiology, biomechanics) of an intervention.</p>
                <p>
                    <b>Device Feasibility (DEV):</b>  An intervention of a device product is being evaluated in a small
                    clinical trial (generally fewer than 10 participants) to determine
                    the feasibility of the product; or a clinical trial to test a
                    prototype device for feasibility and not health outcomes. Such
                    studies are conducted to confirm the design and operating
                    specifications of a device before beginning a full clinical trial.
                </p>

                <p><b>Diagnostic (DIA): </b>Protocol designed to evaluate one of more interventions aimed at identifying 	a disease or health condition.</p>
                <p><b>Health Services Research (HSR): </b>Protocol designed to evaluate the delivery, processes, 	management, organization, or financing of health care.</p>
                <p><b>Prevention (PRE): </b>Protocol designed to assess one or more interventions aimed at 	preventing the development of a specific disease or health condition.</p>
                <p><b>Screening (SCR): </b>Protocol designed to assess or examine methods of identifying a 	condition (or risk factor for a condition) in people who are not yet known to have the 	condition (or risk factor).</p>
                <p><b>Supportive Care (SUP): </b>Protocol designed to evaluate one or more interventions where 	the 	primary intent is to maximize comfort, minimize side effects, or mitigate against a decline in the participant’s health or function. In general, supportive care interventions 	are not intended to cure a disease.</p>
                <p><b>Treatment (TRE): </b>Protocol designed to evaluate one or more interventions for treating a 	disease, syndrome, or condition. <b>Note:</b> This equates to therapeutic trials in previous versions of the guidelines.</p>
                <p><b>Other (OTH): </b>Not in other categories</p>
                <br />

                <p><b>Pragmatic Clinical Trial: </b>A clinical trial that is designed to study a health intervention in a real-world setting that is similar or identical to the one in which the intervention will be implemented.</p>
                <p>
                    Trials with the following characteristics can be classified as pragmatic:
                </p>
                <ul class="liIndent">
                    <li>Unit of randomization may be other than an individual participant (e.g., the clinic, the healthcare system, or a neighborhood if a community setting)</li></br>
                    <li>Intervention may be multi-level involving changes to:</li></br>
                    <ul class="liIndent">
                        <li>Participant behavior (e.g., completing a symptom report measures online), and</li></br>
                        <li>Provider behavior (e.g., receiving the participant’s symptom report and having to act on it)</li></br>
                    </ul>
                    <li>Data are often obtained directly from medical records and, are likely collected on a large number of participants</li></br>
                    <ul class="liIndent">
                        <li>Data may be collected during a pre-intervention period and again during a post-intervention period in each clinic that is randomized</li></br>
                        <li>Participants for whom data are collected in the pre-intervention period may not be the same ones for whom data are collected in the post-intervention period.</li>
                    </ul>
                </ul>
                <p>Indicate whether the trial is pragmatic by entering “Y” for yes and “N” or (leave blank) for no in the “Prag” column.</p></br>

                <p><b>Official Title: </b>Official name of the protocol provided by the study PI or sponsor (Limit: 8000 characters or fewer).</p>
                <p><b>Multi-institutional Clinical Research Study: </b>Indicate if the trial is multi-institutional by 	inserting "Y" for yes and "N" or (leave blank) for no in the “Multi-inst” column (see definition above).</p>
                <p><b>Total Targeted Accrual:</b>For both single-institution and multi-institutional trials initiated at 	your Center, indicate the total number of participants needed for the entire study. For 	multi-Institutional trials that your Center participates in but did not initiate, leave “Entire 	study”	column empty. Do not submit a targeted range, such as “10 – 100.” </p>
                <p><b>Targeted Accrual for your Center:</b>For single-institution and multi-institutional trials initiated 	at your Center, indicate the total number of participants your Center is expected to accrue 	for the study. For single-institution trials the “Total Accrual for your Center” and the “Total Targeted Accrual” numbers will be the same. Do not submit a targeted range, such as “10 – 100.”</p>
                <p><b>Accrual Institutions:</b></p>
                <ul class="liIndent">
                    <li>Cancer Center:  List the number of participants enrolled in the clinical research study at your Cancer Center, including formal Consortium Partners.</li></br>
                    <li>Other Institutions: •	Other Institutions: List the number of participants enrolled in the clinical research study at all hospitals, treatment facilities, and/or research facilities that are a formal part of the Cancer Center (e.g., nearby community hospitals).</li>
                </ul>
                <p><b>Accrual Timeframes:</b></p>
                <ul class="liIndent">
                    <li>12 Months: Provide the number of participants accrued to this clinical research study during the center-defined 12-month reporting period.</li></br>
                    <li>To Date: Provide the number of participants accrued to this clinical research study since the trial was opened.</li>
                </ul>
                <p>Notes:</p>
                <ol class="liIndent">
                    <li>For trials initiated and accruing patients only at your Center, the number of patients in the “Entire Study” and “Your Center” columns of the Total Targeted Accrual column should match. Enter the actual number of accruals in the “Cancer Center:” columns.  Leave the “Other Accrual Institutions” columns blank.</li></br>
                    <li>For trials initiated and accruing patients at both your Center and additional Institutions, all columns under the “Total Targeted Accrual”, “Cancer Center: Primary Accrual Institution”, and “Other Accrual Institutions” should be filled in.</li></br>
                    <li>For trials your Center accrues to but did not initiate, leave “Entire Study” blank. Enter the Total Targeted Accrual for your part of the study. Enter the actual number of accruals under “Cancer Center:” Leave “Other Accrual Institutions” blank.</li></br>
                    <li>If the data are not available or applicable, leave the column empty.</li>
                </ol>
                <p style="text-align:center; font-size:medium">
                    <a href="~/documents/CCSGDataGuide508.pdf#page=21">DT4 Example Format Tables</a><br />
                </p>

                <h3 id="dt5" style="text-align:left">DT5</h3>
                <hr />
                <p>DT5 reports the Cancer Center’s current budget (Type 2) and its requested budget (Types 1 and 2).</p>
                <ul class="liIndent">
                    <li>Provide the direct cost CCSG budget of the last full year of funding (for Type 2), and the requested budget for the first year of the new competitive project period (Types 1 and 2) for each major budget category listed below. List non-salary funds for Research Programs separately, and list the shared resources individually. List only the total for Developmental Funds.  Sum all the direct costs at the bottom of the chart.</li></br>
                    <li>The current budget, if applicable, should reflect the last full year of the current competitive project period as submitted in the type 5 application and/or as detailed in the notice of award for that period, exclusive of carryover funds and supplements. The direct cost figures should include any third party indirect costs, since these are charged as direct costs to the CCSG.</li>
                </ul>
                <br />
                <p style="float:right;"><b>2P30CA120212-09</b></p>

                <div style="margin-left:25%">

                    [Name of] Cancer Center<br />
                    Reporting Date: MM/DD/YYYY<br />
                    Data Table 5 - Comparison of Current and Requested CCSG Budgets
                </div><br />

                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader">
                            <th style="width:40%;">CCSG Budget Category</th>
                            <th style="width:35%;">
                                Current Budget (direct costs)*<br />
                                MM/DD/YY – MM/DD/YY<br />
                                (Last full year of the current project period)
                            </th>
                            <th style="text-align:left;">
                                Requested Budget (direct costs)<br />
                                MM/DD/YY – MM/DD/YY<br />
                                (First full year of the new project period)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight:bold">Program Leaders (salary)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Research Program (non-salary)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Program 1</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Program 2, etc.</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Administration</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Leadership, Planning & Evaluation</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Senior Leadership (salary)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Activities</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Developmental funds</b> (exclude "Developing New Shared Resources" category)</td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td style="font-weight:bold">Shared Resource</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Salary</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Operating costs / Activities</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp; Devloping New Shared Resources</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Clinical Protocol and Data Management</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Protocol Review and Monitoring System (PRMS)</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Community Outreach and Engagement</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Cancer Research Training and Education Coordination</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">Total Direct Costs</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <p><b>Note:</b> DT 5 includes third party indirect costs.  It does not include CCSG carryover funds or CCSG supplement dollars.</p>


                <h3 id="sum" style="text-align:center">Summary of Changes to the Data Guide</h3>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr class="tableHeader">
                            <th style="width:20%;">Updated Date</th>
                            <th style="width:20%;">DT</th>
                            <th style="width:60%;">Change</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>04/01/2023</td>
                            <td>DT4</td>
                            <td>
                                Added a new column "Prag", </br>
                                Modified the "Pilot" and "Multi-Inst" entry "Y" for yes and "N" or leave it blank for no. 
                            </td>
                        </tr>

                        <tr>
                            <td>08/24/2022</td>
                            <td>INTRODUCTION, DT3, and DT4</td>
                            <td>
                                Fixed broken links:
                                <li> to the eData Guide in the INTRODUCTION,</i>
                                <li> to FORDS-2016 in DT3, and </li>
                                <li> to PR Funding Orgs in DT4.</li>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT4</td>
                            <td>
                                Updated the definition of Primary Purpose "Device Feasibility" to harmonize with clinicaltrials.gov and CTRP.
                            </td>
                        <tr>
                            <td>09/02/2020</td>
                            <td>DT5</td>
                            <td>
                                Modfied Table Structure<br />
                                Modified the following categories:
                                <ol>
                                    <li>Developmental Funds to:  Developmental Funds (exclude "Developing New Shared Resources" cagtegory)</i>
                                    <li>Shared Resources to:  Shared Resrouces<br /> Salary<br />Operating costs / Activities<br />Developing New Shared Resources</li>
                                    <li>Cancer Research Career Enhancement and Other Activities to Cancer Research Training and Education Coordination</li>
                                </ol>
                            </td>
                        </tr>

                        <tr>
                            <td>08/27/2019</td>
                            <td>DT1C</td>
                            <td>Updated Shared Resources Category Table in PDF to match webpage</td>
                        </tr>
                        <tr>
                            <td>02/14/2018</td>
                            <td>DT3</td>
                            <td>Modified the definition of the Accural.</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT4</td>
                            <td>
                                To further harmonize fields and definitions with ClinincalTrials.gov and CTRP: </br>
                                Renamed NCT Number to NCT ID and  modified the definition, </br>
                                modified Phase, </br>
                                modified  the definition of the Protocol ID, and Other Institutions, </br>
                                added “Dev” option to the Primary Purpose,  </br>
                                added Pilot, Other Protocol ID, NCI ID,  and Local Trial ID fields, </br>
                                removed the Mapping of Previous Study Type and New Primary Purpose Designations and Mapping of Previous and Newly Defined Clinical Research Categories tables.
                            </td>
                        </tr>
                        <tr>
                            <td>01/24/2017</td>
                            <td>DT3</td>
                            <td>Combined “Female Breast” and “Male Breast” into “Breast”</td>
                        </tr>
                        <tr>
                            <td>12/22/2016</td>
                            <td>DT1</td>
                            <td>Eliminated 1C – Program Members; added total members to bottom of 1B; 1D is now labeled 1C</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT2</td>
                            <td>Eliminated total costs</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT2</td>
                            <td>Added total project funding for each grant and cancer-relevant funding</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT2A and DT2B</td>
                            <td>Moved all training projects to Cancer Research Career Enhancement and Related Activities</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT3</td>
                            <td>Eliminated “Patients newly accrued to treatment trials”</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT4</td>
                            <td>No changes – CTRP will generate DT4 in the future (2018 or later)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT5</td>
                            <td>Minor format changes. Although not specifically called for in the FOA (at NIH’s insistence), we recommend Centers continue to report both previous and proposed CCSG funding, and new Centers (Type 1) report proposed CCSG funding</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>DT3 and DT4</td>
                            <td>Changed Anatomic Site to Primary Site</td>
                        </tr>

                    </tbody>
                </table>
            </div> @*col-sm-9*@
        </div> @*row*@
    </div> @*container*@
</body>
</html>