@{
    ViewBag.Title = "DSMPRevCriteria";
}

@*COMMENTS---------------------------------------------------------------------------------
        DATE        DEVELOPER    NOTES

        11/12/2014  AM          Replaced Color names with HEX Codes
                                Removed color style for "glyphicon glyphicon-circle-arrow-right"
                                Moved Print VS to bottom of page
        12/03/2014  AM          Fix <a> colors
        12/17/2014  AM          Updated URLs
        01/15/2014  AM          Removed broken link
        03/17/2015  AM          Hid comments, restructured headings, cleaned up code, CCA pass, home tooltip, grayFont
        04/01/2015  AM          Added id="home" to home bread crumb, removed OCChyperlink class
        04/02/2015  AM          removed <i> added aria-hidden="true"

    ------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DSMP Review Criteria</title>
    <style type="text/css">
        .sectionHead {font-size:large;
                      font-weight:bold;
        }
        .subHead {font-size:medium;
                      color:#400040;
                      
        }
        h3 {text-align:center}
    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 style="color:#005c83">&nbsp;DSMP Review by NCI Staff</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Updated August 20, 2014</small></p>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="active grayFont">DSMP Review by NCI Staff</li>
            </ul>
        </div>


        <div class="col-xs-12">

            <h3>DSMP Review by NCI Staff</h3><hr />
            <p>
                All NCI-designated cancer centers conducting clinical research are required to have an
                institutional data and safety monitoring plan. The purpose of the plan is to improve participant
                protection and trial conduct, as well as to provide a template for center investigators developing
                DSM plans for individual trials.
            </p>
            <p>
                All institutional DSM plans undergo 2 separate, but required, reviews. Applicants must submit a
                general description of the DSM plan for peer review as part of the grant application, in
                accordance with NIH policy. A full copy of the plan is usually provided at the site visit.
            </p>
            <p>
                The second review is by NCI OCC program staff based on criteria listed below. These reviews
                are distinct from one another; to have an NCI-approved DMSP does not obviate the need for
                approval by peer review, or vice versa.
            </p>


            <h3>Data and Safety Monitoring Plans Review Criteria</h3><hr />


            <p class="sectionHead">1. Adequacy of the plan for monitoring progress of trials and safety of participants</p>


            <p><b>Committee Structure and Relationships</b></p>
            <p>Plan describes:</p>
            <ul>
                <li>Persons and/or committee responsible for oversight,</li>
                <li>Composition and membership of the committees,</li>
                <li>Relationship of these committees to others (e.g., scientific review
                    committee, IRB, etc.</li>
            </ul>
                <p>Committee structures and relationships are illustrated with diagrams or organization charts.</p>
                
            <p style="color:#005c83"><b>Committee Structure and Relationships</b></p>
            <p>Plan describes:</p>
                <ul>
                    <li>Conflict of interest rules in regard to review of protocols that involve
                        committee members</li>
                    <li>Policies that apply when study investigators have conflicts of interest with,
                        or financial stakes in, the research outcome; and how these conflicts are
                        managed.</li>
                </ul>


            <p style="color:#005c83"><b>Monitoring and Oversight</b></p>
            <p>Plan describes:</p>
                    <ul>
                        <li>
                            The process and frequency for monitoring patient risks and reporting study
                            progress, safety, accuracy and integrity of data, protocol compliance,
                            adverse events, etc.</li>
                        <li>The process of feedback to the investigator and committee follow up</li>
                        <li>How the major classes of trials (i.e., treatment, prevention, cancer control,
                            intervention, etc.) will be accommodated</li>
                        <li>Different levels of oversight based on the degree of risk (i.e., phase 1, 2, or
                            3, etc.) involved for the participants and the size and complexity of the
                            trial </li>
                        <li>How confidentiality of data (e.g., assignments to arms of randomized and
                            blinded studies, etc.) are assured in the review process</li>
                        <li>What the monitors or oversight committees look for in terms of progress
                            and safety of participants.</li>
                        <li>The processes and reporting functions in place for multi-center trials, if
                            applicable (other than Cooperative Group), i.e., how the trial will be
                            coordinated with respect to data and safety monitoring and patient safety
                            issues; how adverse events will be reported to participating sites and their
                            respective IRBs.
                    </ul>
                    <p>Information flow and processes are illustrated by flow diagrams or tables.</p>

            <p class="sectionHead">
                2. Adequacy of the plan for assuring compliance regarding the reporting of adverse events (AEs).</p>
            <p>Plan describes:</p>
                    <ul>
                        <li>Methods, processes, guidelines for reporting AEs and the follow-up
                            procedures for quality control of the AE reporting system.</li>
                        <li>If applicable, for multi-center trials coordinated by the institution, the
                            procedures by which the institution centrally collects from and reports
                            AEs to all appropriate regulatory agencies, and the co-investigators at
                            participating institutions.
                    </ul>

            <p class="sectionHead">
                3. Adequacy of the plan for assuring that any action resulting in a temporary or permanent suspension of 
                NCI-funded clinical trial or
                trial investigator is reported to the NCI Program Director responsible for funding the trials, and other appropriate agencies.
            </p>

            <p class="sectionHead">4. Adequacy of the plan for assuring data accuracy and protocol compliance.</p>
            <p>Plan describes:</p>
                        <ul>
                            <li>Guidelines and procedures for quality assurance audits of clinical trials,
                                data integrity and protocol adherence, i.e., who is responsible for audits, Page 3 Revised 6/1/2012
                                the method and frequency of selection of trials for audits, percentage of
                                patients to be selected and how the audit information is used.</li>
                            <li>How the discrepancies in audit (e.g. data integrity e.g. missing
                                information, scientific misconduct ) are resolved or if unresolved, how
                                these issues are reported to the appropriate regulatory agencies.</li>
                        </ul>


                    <a href="~/documents/DSMPReviewCriteria508.pdf" target="_blank" style="float:right">PDF Version</a>
                </div>@*content*@
        </div>@*container*@
    
</body>
</html>