@{
    ViewBag.Title = "DSMPPolicy";
}
@*COMMENTS---------------------------------------------------------------------------------
        DATE        DEVELOPER   NOTES

        11/12/2014  AM      Replaced Color names with HEX Codes
                            Removed color style for "glyphicon glyphicon-circle-arrow-right"
                            Moved Print VS to bottom of page
        12/3/14     AM      Removed color from <a>
                            Corrected typo in breadcrumb
        12/17/2014  AM      Target=_blank
                            Updated URLs
        01/15/2015  AM      Removed Specific Req hyperlink (links to Cancer.gov broken page)
                            Updated Date -- Henry is working on removing the URL from the pdf document
        03/18/2015  AM      Added Home tooltip, grayFont, CCA pass, restructured headers, hid comments, cleaned up code
        04/01/2015  AM      Added id="home" to home bread crumb, removed OCChyperlink class


    ------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>DSMPPolicy</title>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 style="color:#008040">&nbsp;Policy on Peer Review of DSMP</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Updated September 04, 2003</small></p>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="active grayFont">Policy on Peer Review of DSMP</li>
            </ul>
        </div>

        <div class="col-xs-12">
            <h3 style="text-align:center">Policy on Peer Review of Data and Safety Monitoring in<br />Cancer Center Support Grants </h3><hr />

            <p>Every clinical and comprehensive NCI-designated Cancer Center is required to have an <u>institutional</u> Data and Safety Monitoring Plan (DSMP) that meets the specific requirements of the NCI. Cancer Center Support Grant (CCSG) applications from these centers should include a summary of the DSMP within the text of the application. According to <i> NIH Instructions to Reviewers for Evaluating Research Involving Human Subjects in Grant and Cooperative Agreement Applications (April 5, 2002),
                </i> peer reviewers will be responsible for determining the acceptability or unacceptability of the plan. The entire DSMP should be available at the site visit in the event that peer reviewers need additional information for this determination. Peers are expected to define the weaknesses of an unacceptable dsmp. NCI program staff will bear responsibility for addressing deficiencies with the applicant and following appropriate procedures for removal of bars to award.</p>
            <p>CCSG applicants may request funds for implementation of the Cancer Center’s Data and Safety Monitoring Plan. Whether DSM activities are presented as part of a larger core, such as a clinical trials core, or as an independent core, the budget for this activity must be separately presented and justified. <i> If a budget for the DSM functions is not separately distinguished in the CCSG application, it will not be reviewed and will not be funded.</i></p>
            <p>To receive support for DSMP functions, the applicant will be responsible for providing the following: </p>
            
            <ol>
                <li>
                    A general description of DSM functions, including the workload related to evaluation,
                    auditing, and monitoring of various types of institutional studies, and studies supported on
                    competitive grants (e.g., R01s). Workload related to other grants and contracts from
                    NCI/NIH (e.g. national studies supported by the NC! Cancer Therapy Evaluation
                    Program) and to studies conceptualized and funded by industry should not be included.
                </li>
                <li>
                    A description of the committees involved in DSM processes and the biographical sketches
                    of the members of these committees.
                </li>
            </ol>


            <p>The peer reviewers will be responsible for determining the following:</p>
            <ol>
                <li>
                    The general adequacy of DSM functions for the different kinds of studies (e.g.,
                    therapeutic trial, behavioral intervention, gene therapy trial) that require evaluation,
                    auditing, and monitoring. (NOT the specific evaluation of any particular study or the
                    audit of that study.)
                </li>
                <li style="color:#8F0000; font-weight:bold">
                    The adequacy of the expertise of individuals serving on key committees to perform DSM
                    functions*.</li>
                <li>
                    The appropriateness of the budget, based on the description and justification provided, to
                    support DSM functions.
                </li>
            </ol>

            * When a budget request is made

                        <a href="~/documents/PolicyforDSMPReview508.pdf" target="_blank" style="float:right">PDF Version</a>
                    </div>@*content*@
            </div>@*container*@
</body>
</html>