
@{
    ViewBag.Title = "FOAChangesOutline";
}

@*COMMENTS---------------------------------------------------------------------------------

        DATE        DEVELOPER    NOTES

        12/09/2014  AM          Page Created
        12/17/2014  AM          Updated URLs
        01/15/2015  AM          Posted to Updated Date
        01/28/2015  AM          Updated Breadcrumbs
        03/06/2015  AM          Hid comments, added tooltip to breadcrumbs, referenced occHyperLink and grayfont
                                modified headings / colors for 508
        04/01/2015  AM          changed print version to pdf version, removed occhyperlink, added id="home" to home breadcrumbs
        04/02/2015  AM          Removed <i> tags from page headers, added aria-hidden="true"

    ------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 style="color:#660198">&nbsp;Outline of 2014 FOA Changes</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Updated February 28, 2014</small></p>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="active grayfont">Outline of 2014 FOA Changes</li>
            </ul>
        </div>

       
            <div class="col-xs-12">
                <h3 style="text-align:center">Summary of 2014 Funding Opportunity Announcement (FOA) Changes</h3>
                <div style="text-align:center">
                    <a target="_blank" href="http://grants.nih.gov/grants/guide/pa-files/PAR-13-386.html">PAR-13-386:CCSGs for NCI-designated Cancer Centers (P30) </a><br />
                    <a target="_blank" href="http://grants.nih.gov/grants/guide/notice-files/NOT-CA-14-008.html">Notice of Correction to PAR 13-386</a><br />
                </div>
                <a href="~/documents/Outlineof2014FOAChanges508.pdf" target="_blank" style="float:right">Print Version</a>
                <br /><br />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center; width: 40%; background-color: #660198; color: white">Component</th>
                            <th style="text-align: center; width: 60%; background-color: #660198; color: white">Changes</th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <p><b><i><u>Overall (including the Directors's) Overview and Six Essential Characteristics</u></i></b>
                                <p><b><i>Facilities</i></b>
                                <p><b><i>SF424 Facilities and Other Resources Form</i></b>
                                <p><br /><br /><br /><br /><br /><br /><br />
                                <p><b><i>Other Attachments</i></b></p>
                            </td>
                            <td>
                                <p><b><i>The research strategy section of this component is limited to 30 pages, inclusive of both the Overview and the Six Essential Characteristics.</i></b></p>
                                <p>Retitled 'Physical Space"</p>
                                <p>Includes some of the information previously in the narrative sections for Physical Space (Facilities) and Institutional Commitment:</p>
                                <ul>
                                    <li>A map of the center’s main research and administrative locations and relationship of consortium institutions</li>
                                    <li>A table providing information on funding from the institution and consortium partners, where applicable</li>
                                    <li>An organizational chart</li>
                                    <li>A table summarizing institutional commitments</li>
                                </ul>
                                <p>Includes:</p>
                                <ul>
                                    <li>All supportive data tables</li>
                                    <li>A table listing consortium partners</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Administrative Core (Includes Cancer Center Administration and Senior Leadership)</u></i></b>
                                <p><b><i>Changes</i></b></p><br />
                                <p><b><i>Other Attachments</i></b></p>
                            </td>

                            <td>
                                <p><b><i>The research strategy section of this component is limited to 12 pages, inclusive of both Cancer Center Administration and Senior Leadership</i></b></p>
                                <p>The narrative for each individual senior leader has been reduced from 1 page to 1 paragraph</p>
                                <p>A table providing sources of funding for the administrative office</p>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Planning and Evaluation</u></i></b><br /><br /><br />
                                <p><b><i>Changes</i></b></p>
                                <p><b><i>Other Attachments</i></b></p>
                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of this component is limited to 12 pages. This component should be uploaded after the Administrative Core.</i></b><br />
                                <p>Budget language has been relocated to the Budget instruction section of the FOA.
                                <p>A consolidated list of EAC members with titles/affiliations/biosketches</p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Developmental Funds</u></i></b><br /><br /><br />

                                <p><b><i>Other Attachments</i></b></p>
                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of this component is limited to 12 pages. This component should be uploaded after Planning and Evaluation. </i></b><br />

                                <p>
                                    Includes:
                                    <ul>
                                        <li>A list of pilot project awardees and their projects, with outcomes, for preceding project period</li>
                                        <li>A biosketch for each proposed Staff Investigator with a list of grants or trials, as appropriate</li>
                                    </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Shared Resources</u></i></b><br /><br /><br /><br />
                                <p><b><i>Changes</i></b></p><br /><br />
                                <p><b><i>Other Attachments</i></b></p>
                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of each Shared Resource is limited to 12 pages. Shared Resources should be uploaded after Developmental Funds (see further instructions below). </i></b><br />
                                <p>Identify the shared resource ‘grouping’ in the first line of the research strategy section. Upload all shared resources in each grouping together so they will appear in sequence in the application
                                <p>A table showing sources of support for shared resources</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><b><i><u>Clinical Protocol and Data Management</u></i></b><br /><br /><br /><br /><br />
                                <p><b><i>Other Attachments</i></b></p><br /><br />

                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of this component is limited 12 pages, inclusive of Clinical Protocol and Data Management, Data and Safety Monitoring, Inclusion of Women and Minorities, and Inclusion of Children. This component should be uploaded after Shared Resources.</i></b><br />
                                <p>
                                    Includes:<br />
                                    For Clinical Protocol & Data Management
                                    <ul>
                                        <li>A table providing an overview of accrual to invernentional clinical trials</li>
                                        <li>A table providing an overview of accrual to non-interventional trials</li>
                                    </ul>
                                    For Inclusions of WOmen and Minorities
                                    <ul>
                                        <li>Summary information showing the demographics of the primary geographic catchment area of the center</li>
                                        <li>A table in SF424 format indicating accrual to interventional treatment and interventional non-treatment clinical trials and to non-interventional studies (See Notice of Amendment)</li>
                                    </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Protocol Review and Monitoring System</u></i></b><br /><br /><br />
                                <p><b><i>Other Attachments</i></b></p><br /><br />

                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of this component is limited to 12 pages. This component should be uploaded after Clinical and Protocol Data Management</i></b><br />
                                <p>
                                    Includes:
                                    <ul>
                                        <li>A list, in Data Table 4 format, of all institutional protocols reviewed by the PRMS for scientific merit or actively monitored for scientific progress in a recent 12 month period</li>
                                        <li>Information for the most recent 3 year period on the number of trials reviewed  or prioritized, by source of support and year.</li>
                                    </ul>
                                </p>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Early Phase Clinical Research Support</u></i></b><br /><br /><br />
                                <p><b><i>Other Attachments</i></b></p><br /><br />

                            </td>

                            <td>
                                <p><b><i>By SF424 definition, this is now a Core Component. The research strategy section of this component is limited to 12 pages. This component should be uploaded after Clinical and Protocol Data Management</i></b><br />
                                <p>
                                    Includes:
                                    <ul>
                                        <li>A list of all studies supported with EPCRS funds with investigator and project name, phase, outcome or impact, and other information specified in the FOA</li>
                                        <li>A list of proposed pilot/Phase I projects</li>
                                    </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Projects (Use for Research Programs)</u></i></b><br /><br />
                                <p><b><i>Changes</i></b></p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                                <p><b><i>Other Attachments</i></b></p><br /><br />
                            </td>

                            <td>
                                <p><b><i>The research strategy section of each Research Program is limited to 12 pages.</i></b><br />
                                <p>If you wish groups of basic, clinical and population science programs to appear together in the application, they should be uploaded together.</p>
                                <p>The requirements for PMCIDs have been clarified.</p>
                                <p>The list of clinical research may now be presented in individual programs, in one centralized clinical program, or in a combination of these approaches as relevant.</p>
                                <p>In Research Strategy instructions, bullet 2: A slight change of wording has been made to emphasize the role of shared resources in scientific accomplishments.</p>
                                <p>In Research Strategy, bullet 3: Examples of how scientific findings are advanced is made applicable to all programs (previously just clinical/translational).</p>
                                <p>In Research Strategy instructions, bullet 4: There is a new heading for this bullet (‘For Programs with clinical trials”). The second bullet has been deleted and replaced by an Other Attachment (<a href="http://grants.nih.gov/grants/guide/notice-files/NOTCA-14-008.html" target="_blank">see notice of correction</a>). </p>
                                <p>
                                    Includes for each program:
                                    <ul>
                                        <li>A list of the externally funded, cancer-related research projects of the program</li>
                                        <li>A list of the members of the program</li>
                                        <li>A list of shared resources and other services</li>
                                        <li>A list of intra-and inter- Programmatic activities and external collaborations</li>
                                        <li>A selected list of Program-related publications</li>
                                        <li>A list of the clinical research of the program (as applicable, see content changes above)</li>
                                        <li>A summary table for accrual to interventional trials by source of support (<a href="http://grants.nih.gov/grants/guide/notice-files/NOTCA-14-008.html" target="_blank">see notice of correction</a>)</li>
                                    </ul>
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Review Process / Criteria</u></i></b><br /><br /><br />
                            </td>

                            <td>
                                <p>Information in Sections 3.2 – 3.24, Types of Review, in the September 2012 issuance of the CCSG Guidelines remains pertinent but could not be included in the FOA, per NIH policy. Consult ‘Peer Review Processes Relevant to the Cancer Center Support Grant.’ No changes have been made in these processes.
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p><b><i><u>Other General Information</u></i></b><br /><br /><br />
                            </td>

                            <td>
                                <p>With the transition to the electronic application, <b>page limits must be observed.</b></p>
                                <p>Budget instructions are now moved to a specific budget section in the FOA.</p>
                                <p>Except where otherwise indicated, the application will allow only one set of biosketches.</p>
                                <p> consolidated budget will be generated by the ASSIST system, based on budgets for the individual components.</p>
                                <p>
                                    Other Attachments should be limited to those specified in the FOA. These must be tables,
                                    charts, graphs, lists; they cannot include narrative.
                                </p>
                                <p>
                                    Appendices may not be used to avoid page limits in the research strategy section. Color
                                    photos should be included in the research strategy sections to which they are relevant; they are
                                    no longer permissible in the appendices. Discuss any proposed appendices with your OCC
                                    program director before submitting them.
                                </p>
                                <p>
                                    Forms for every component query whether human subjects are involved. Centers should check
                                    ‘yes’ in any individual component that carries out research on Human subjects directly
                                    supported by the CCSG; typically these would be restricted to Early Phase Clinical Research
                                    Support, Developmental Funds, and certain types of shared resources. If the applicant checks
                                    ‘yes’ on any component, you must check ‘yes’ on the Overall component as well. A ‘yes’ in
                                    any component will require attachments on protection of Human Subjects and Inclusion. Since
                                    this information is not relevant to various components of CCSG applications, the applicant
                                    should attach pdf stating “Not Applicable”. Aggregate inclusion data – as noted above – is
                                    now reported in the Clinical and Protocol Data Management core.
                                </p>
                                LOIs will now be requested 60 days in advance of the application, rather than 12 months. </p>
                            </td>
                        </tr>




                    </tbody>
                </table>

            </div>
        </div>
 

</body>
</html>                                		

