@{
    ViewBag.Title = "GrantsFunding";
}
<td>
    @*COMMENTS--------------------------------------------------------------------------------------------------------------------------------------------
         <!-- #region Code Updates Comments -->
            DATE        DEVELOPER    NOTES
            11/05/2014  AM          Removed Peer Rev Funding Org Document (Now on Policies & Resources Page)
                                    Added " NEW " icon to ICD 10
                                    Changed Dropdown text color & size
                                    Added Caret Span class to "Samples"
                                    Removed white spaces
                                    Added CURESupp
            11/06/2014  AM          Added Money BANNER
                                    Changed Panel Color to Green (prev Hunter Green)
                                    Added 2 Documents under "Other Application Information"
                                    ( 1. Peer Review Process Relevant to the CCSG
                                      2. Guidance Regarding PRMS & CPDM Components of the CCSG)
            11/07/2014  AM          Edited G&F Banner
            11/09/2014  Chi         Removed the banner, change display Effective Date format to match w/ what's on Policies & Resources page,
                                    change the eData DDL width, and font DDL item font color
            11/12/2014  AM          Replaced Color names with HEX Codes
                                    Increased line height : 160%
                                    Updated URLs
            11/13/2014  AM          Updated ICD URLS
            12/06/2014  AM          Created "Competing Appplication Information Section"
                                    Moved Guideslines & Data Guide Outline of Changes documents to Competing Application Section
                                    Moved Guidance Regarding the PRMS and the CPDM Components of the CCSG to Comnpeting Application Section
                                    Moved Externally Peer Reviewed... document to Competing Application Section
            12/14/2014  AM          Added Tooltip for eData Template download
            12/16/2014  AM          Added Title to Page - 508C
                                    added " target="_blank" to URLS
            12/17/2014  AM          Updated URLS
            12/18/2014  Chi         Updated DFHCCDSM URL
            12/19/2014  AM          Added FAQs hyperlink to Competing Application section
                                    Made Boxes line up nicely
            01/06/2015  AM          Removed DSM Elements Link
            01/14/2015  AM          Added FY2015 CITLA Awards links & red bull horn w/ Title
            02/10/2015  Chi         Modified the tooltips
            02/10/2015  AM          Removed target="_blank" from eData & Data Guide
                                    Made divs line up nicely
                        Chi         added download eData Template

            02/10/2015  AM          Removed _Blank from CURE Supp page
            02/24/2015  AM          Added G&F banner (image still needs to be purchased)
            02/25/2015  Chi         Added background color and border-radius to each of the panel
            03/04/2014  Chi         Fixed 508 color contrast issue, modified style="color:#22a005;"
                                    used successFont successBtn,  occHyperLink, grayFont, occWhite CSS classes,
                                    Added fixedPanel.
            03/16/2015  AM          Added shadow box
            03/19/2015  AM          removed successbtn class to keep panel from turning cyan on hover, border radius, added skip to home, increased alertbox
            03/26/2015 chi          For skip nav, added id="home" on <a> tag
            04/01/2015  AM          Moved id="home" to home breadcrumb
            04/02/2015  AM          added Bootstrap wells, aria-hidden="true" added, removed <i> from page header
            04/03/2015  AM          Added HIV Supplement hyperlink under Program & Funding Announcements
                                    Added skip2home class on skip to top = increased well min and max height
            09/24/2015  AM          Updated ICD 10 hyperlink to open pdf temporarily
            10/14/2015  AM          Added 2016 CCITLA and removed 2015 CCITLA
            10/19/2015  AM          Added CURE Supplement Notice to discontinue
            10/22/2015  AM          Added PAR Correction to remove the requirement to group shared resources
            10/28/2015  AM          Added Notice numbers to PAR Corrections URLs
            01/13/2016  AM          Updated CURE Supplment URL
            Added HIV Supplement
            01/20/2016  AM          Added Burkitt Lymphoma Supplement
            03/17/2016  Chi         Added two new Added supplements supEDDOAcrualETCTN and supEDDOLeadershipETCTN.  CTEP’s Experimental Therapeutics Clinical Trials Network (ETCTN),
            the Early Drug Development Opportunity (EDDO),
            For symmatrical content displayment on the Grants & Funding page, modified the existing/closed supplements and moved them into a dropdown list,
            reduced the panel body size (panelHeight1) from 360px to 270px,
            Created a new panelHeight2.
            03/25/2016 Chi          Modified the code so the user can access ICD 10 view instead of PDF file
            04/06/2016 Chi          Moved the “P30 Supplemental Funding in Burkitt Lymphoma” out of “Supplements that have been closed”.  The supplement does not close until April 16 per Nga
            04/14/2016 Chi          Added P30 Administrative Supplement Canine Immunotherapy
            04/26/2016 Chi          It is a violation of grants policy to post p30 supplements publically on the website; however we can send these directly to centers
            Removed all supplements from the webiste
            08/19/2016  AM          Added Noticie of Correction: Notice of Correction to PAR-13-386 CCSG to Clarify the Role of the PRMS in the Scientific Review of Multi-Site Clinical Studies
            12/22/2016  AM          Added New FOA PAR-17-095
            01/12/2017  AM          Removed ICD9 urls
            01/23/2017  AM          Removed all PAR 13-386 Related urls, Added Outline of FOA Changes  hyperlink, Added DataGuide 3.0 and eData 3.0 hyperlinks, added P30 FOA Changes Outline etc.
            02/02/2017  AM          Fixed Data Guide v.2 brokek hyperlink
            05/31/2017  Chi         Modified link ICD10 page and not PDF file
            11/28/17    AM          Updated eData Templates and removed eDataguide and data guide versions 2.0
            12/21/17    AM          Updated FAQs
            02/17/2018  Chi         Modified data guide and edata from 3.0 to 3.1
            10/30/2018  Chi         Modified eData from 3.1 to 3.11
            05/22/2019  AM          Updated DSMP per KP
            11/05/2019  AM          Added New FOA
            09/02/2020  AM          Updated UPA DSMP and G&F page
            07/02/2021  AM          Added Updated date to Data Guide and removed outdated "new and updated text"
            02/17/2022  AM          Added "New" to new PAR listing
            03/28/2023  Chi         Updated Data Guide and eData v3.1.1 to v3.1.2, added Code Updates Comments region.
            05/10/2023  Chi         Updated FOA to notice of funding opportunity (NOFO) per OER Policy Announcement 2023-02, https://extramural-intranet.nih.gov/policy-and-guidance/oer-policy-announcement-202302.
            05/30/2023  Chi         Updated FAQs to CCSG, PED, and Data Guide - PDF only
            05/31/2023  Chi         Updated Peer Review Processed by Sonya
            06/01/2023  Chi         Updated Information on RPPR by Sonya,
                                    Added the subheader: Documents Updated as of May 2033
            06/05/2023  Chi         changed <a> to <p> tage on "Documents Updated as of May 2023:",
                                    Increased panelHeight1 from 130px to 150px, 
                                    Moved the breadcrump to the right by adding padding-left
        <!-- #endregion -->
        ---------------------------------------------------------------------------------------------------------------------------------------------------------*@
</td>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grants & Funding</title>

    <style>
        .DDLWidth {
            width: 300px;
        }

        .DDLColor {
            color: #428BCA !important;
        }

        a {
            line-height: 150%;
        }

            a.indent {
                text-indent: 50px;
            }

        .panelHeight1 {
            min-height: 150px;
            max-height: 150px;
        }

        .panelHeight2 {
            min-height: 220px;
            max-height: 220px;
        }

        .panel-background {
            background-color: #2c582c;
        }
    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <div class="col-sm-4" style="padding-top:20px;">
                <h2 id="top" style="color:#162C16">&nbsp;Grants & Funding</h2>
            </div>
            <div class="col-sm-8 pull-right" style="padding-top:14px;">
                <img src="~/images/grantsfundingbanner.png" alt="Grants and Funding image" style="border-radius:10px;">
            </div>
        </div>
        <div class="row centerContent">
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" id="centerContentID" style="padding-left:20px;">
                @* ActionLink ("Label", "View Name", "Controller Name" *@
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "occHyperLink" })</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                <li class="active grayFont">Grants & Funding</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="panel-heading panel-background">
                    <h3 class="panel-title occWhite">Program and Funding Announcements</h3>
                </div>
                <div class="panel-body panelHeight1" style="background-color:#fff; border-radius:5px;">
                    <a target="_blank" href="https://grants.nih.gov/grants/guide/pa-files/PAR-21-321.html">Issuance of PAR-21-321 for the P30 CCSG</a><small style="color:tomato"> <i>New</i> </small><br />
                    <a target="_blank" href="https://grants.nih.gov/grants/guide/pa-files/PAR-20-043.html">Issuance of PAR-20-043 for the P30 CCSG</a><br />
                    <a target="_blank" href="https://grants.nih.gov/grants/guide/pa-files/PAR-17-095.html">Issuance of PAR-17-095 for the P30 CCSG</a><br />
                    <a target="_blank" href="~/Documents/NOFOTableOfChanges508.pdf">Outline of Changes to the P30 NOFO PAR-17-095</a><br />

                    @*<a target="_blank" href="http://grants.nih.gov/grants/guide/notice-files/NOT-CA-16-038.html">Notice of Correction to PAR-13-386 CCSG: Clarify the Role of the PRMS in the Scientific Review of Multi-Site Clinical Studies</a><br />
                        <a target="_blank" href="http://grants.nih.gov/grants/guide/pa-files/PAR-13-386.html">PAR-13-386:CCSGs for NCI-designated Cancer Centers (P30)</a><br />
                        <a target="_blank" href="http://grants.nih.gov/grants/guide/notice-files/NOT-CA-14-008.html">Notice of Correction to PAR 13-386 (NOT-CA-14-008)</a><br />
                        <a target="_blank" href="http://grants.nih.gov/grants/guide/notice-files/NOT-CA-15-043.html">Notice of Correction to PAR 13-386 (NOT-CA-15-043): Delete Requirement to Group Shared Resources</a><br /></br>  *@
                    <a href="https://grants.nih.gov/grants/guide/notice-files/NOT-CA-17-018.html" target="_blank">Notice of Correction to PAR-17-095 to provide the list of "peer-reviewed" activity codes.</a></li>

                </div><!--end of panel-body-->
            </div><!---end of panel-->
            <div class="panel">
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="panel-heading panel-background">
                    <h3 class="panel-title occWhite">Data Safety and Monitoring Plans (DSMPs)</h3>
                </div>
                <div class="panel-body panelHeight2">

                    <a href="~/grantsfunding/dsmppolicy" class="occHyperLink">Policy on Peer Review of DSMP in CCSG</a><br />
                    <a href="~/grantsfunding/dsmprevcriteria" class="occHyperLink">DSMP Review by NCI Staff</a><br /><br />
                    <b>Samples:</b><br />
                    <ol style="padding-left:17px;">
                        <li><a href="~/Documents/AbramsonDSMP508C.pdf" target="_blank">Abramson Cancer Center DSMP</a></li>
                        <li><a href="~/Documents/CaseDSMP508C.pdf" target="_blank">Case Comprehensive Cancer Center DSMP</a></li>
                        <li><a href="~/Documents/MSKCCDSMP508C.pdf" target="_blank">Memorial Sloan Kettering Cancer Center DSMP</a></li>

                    </ol>
                </div>
            </div>
        </div><!--col-sm-6-->
        <div class="col-sm-6">
            <div class="panel">
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="panel-heading panel-background">
                    <h3 class="panel-title occWhite"> Competing Application Information</h3>
                </div>
                <div class="panel-body panelHeight1" style="background-color:#FFFFFF; border-radius:5px;">
                    @*<a href="~/GrantsFunding/GuidelineChangesOutline">Outline of 2013 Guideline Changes</a><br />*@
                    <a href="~/GrantsFunding/PRMSandCPDMGuidance">Guidance Regarding the PRMS and the CPDM Components of the CCSG</a><br /><br />
                    <p style="color: tomato; font-size: 12px; margin-bottom: 0;"><b>Documents Updated as of May 2023:</b></p>
                    <a href="~/Documents/PeerReviewProcessRelevantTOCCSG508C.pdf">Peer Review Process Relevant to the CCSG</a><br />
                    <a href="~/Documents/FAQsCCSG508.pdf">FAQs Related to CCSG Applications </a><br />
                    <a href="~/Documents/FAQsPED508.pdf">FAQs Related to Plan to Enhance Diversity (PED) </a><br />
                   
                    @*<a href="~/Home/FAQs">Outline of FOA Changes</a><br />*@
                    <a href="#home" class="skip2home">Skip to top</a>
                </div>
            </div>
            <div class="panel">
                <!------------------------------------------------------------------------------------------------------------------------------------------>
                <div class="panel-heading panel-background">
                    <h3 class="panel-title occWhite"> Data Table Guides and Other Information </h3>
                </div>
                <div class="panel-body panelHeight2">
                    @*<a href="~/GrantsFunding/ICD9View">ICD9</a><br />*@
                    @*<a href="~/Documents/ICD10-508.pdf">ICD10</a><small><i>&nbsp;Effective October 1, 2015</i></small><br />*@
                    <a href="~/GrantsFunding/ICD10">ICD10</a><br /><br />
                    <p style="color: tomato; font-size: 12px; margin-bottom: 0;"><b>Documents Updated as of May 2023:</b></p>
                    <a href="~/Documents/InformationForCCSGNonCompetingProgressReports508.pdf">Information for CCSG Non-Competing Progress Reports Using RPPR </a><br />
                    <a href="~/GrantsFunding/DataGuide">CCSG Data Guide v3.1.2 </a><br />
                    <a href="~/GrantsFunding/eData">CCSG Electronic Data Guide (eData) v3.1.2 </a><br />
                    <a href="~/Documents/FAQsDataGuide508.pdf">FAQs Related to CCSG Data Guide </a><br />
                    @*<a href="~/Documents/CCSGDataGuidev2-508C.pdf" target="_blank">CCSG Data Guide v.2</a><br />*@
                    @*<a href="~/Documents/eDatav2-508C.pdf" target="_blank">CCSG Electronic Data Guide (eData) v.2 </a><br /><a href="#"></a><p></p>*@


                    <div class="btn-group">
                        @*begin eData Templates Drop Down*@
                        <button type="button" class="btn btn-md btn-default DDLWidth" style="background-color:#EFF7EF; border-color:#aad6aa;"><b>Download eData Templates</b></button>
                        <button type="button" class="btn btn-md btn-default dropdown-toggle tip-top tooltipColor" data-toggle="dropdown" title="Select eData Template to Download" style="background-color:#EFF7EF; border-color:#aad6aa;">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="~/Documents/DT1ATemplate.xls">Data Table 1A</a></li>
                            <li><a href="~/Documents/DT1BTemplate.xls">Data Table 1B</a></li>
                            <li><a href="~/Documents/DT1CTemplate.xls">Data Table 1C</a></li>
                            @*<li><a href="~/Documents/dt1dtemplate.xls">Data Table 1D</a></li>*@
                            <li><a href="~/Documents/dt2atemplate.xls">Data Table 2A</a></li>
                            <li><a href="~/Documents/DT2BTemplate.xls">Data Table 2B</a></li>
                            <li><a href="~/Documents/DT3Template.xls">Data Table 3</a></li>
                            <li><a href="~/Documents/DT4Template.xls">Data Table 4</a></li>
                        </ul>
                    </div>
                </div> <!--end of panel-body-->
            </div><!--end of panel-->
        </div><!--end of col-sm-6 -->
    </div>@*container*@
</body>
</html>
