
@{
    ViewBag.Title = "GuidelineChangesOutline";
}


@*COMMENTS---------------------------------------------------------------------------------
    DATE        DEVELOPER    NOTES
    12/09/2014  AM      Page Created
    12/17/2014  AM      Updated URL & target_blank
    01/14/2014  AM      Revised to Updated Date
    01/28/2015  AM      Updated Breadcrumbs URL
    03/06/2015  AM      Added tooltip to breadcrumbs, referenced occHyperLink and grayfont, modified page headers and hid comments CCA Testing: pass
    04/01/2015  AM      Added id="home" to home breadcrumb, removed occHyperLink class, changed Print to PDF and moved to top of table
------------------------------------------------------------------------------------------*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guideline Changes Outline</title>
    <style type="text/css">
        .tableHead {
                /*text-align:center;*/
                background-color:#400040; 
                color:white
        }


    </style>
</head>
<body>
    <div class="container" id="pageCenterID">
        <div class="row" id="centerContentID">
            <h2 style="color:#400040">&nbsp;Outline of 2013 Guideline Changes</h2>
            <p style="font-size:medium; padding-left:.5em;"><small>Updated November 19, 2013</small></p>
            <hr style="margin-bottom:0em;" />
            <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li><a href="~/GrantsFunding/GrantsFunding" class="occHyperLink">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></li>
                <li class="active grayfont">Outline of 2013 Guideline Changes</li>
            </ul>
        </div>


        <div class="col-xs-12">
            <h3 style="text-align:center">Summary of 2013 FOA / Guidelines Changes</h3>
            
            <a href="~/documents/Outlineof2013GuidelinesChanges508.pdf" target="_blank" style="float:right">PDF Version</a>
            <br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr class="tableHead">
                        <th style="width:40%; text-align:center">Component</th>
                        <th style="width:60%;text-align:center">Changes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <b><i><u>Director’s Overview and Six Essential Characteristics</u></i></b><br /><br />
                                <ul>
                                    <li>Organizational Capabilities</li>
                                 </ul>
                            <br /><br /><br />
                            <br /><br /><br />
                            <br /><br /><br />
                            <br /><br /><br />
                            <ul>
                                <li>Transdisciplinary Collabroation and Coordination</li>
                            </ul>
                            <br /><br /><br /><br />
                            
                            <ul>
                                <li>Institutional Commitment</li>
                            </ul>

                            <br />
                            <ul>
                                <li>Center Director</li>
                            </ul>
                        </td>

                        <td>
                            <br /><br /><br />
                           
                            <u>Additions</u><br />
                            <p>Integration of education and training of biomedical researchers and health care professionals, including those from underserved populations, into programmatic research efforts </p>
                            <p>Focus on cancer research in the catchment area</p>    
                            <u>Deletions</u><br />
                            <p>Overlap with requirements of Planning and Evaluation Component</p>
                            <p>Data on non-aligned members</p>
                            <u>Clarifications</u><br />
                            <p>Centers may vary in the nature and range of training and education activities they sponsor</p>

                            <u>Additions</u><br />
                            <p>Movement of findings through the translational pipeline via coordination with NCI and other peer-reviewed funding mechanisms</p>
                            <p>Interactive activities beyond grants and publications are acceptable</p>
                            <p>Encouragement of collaborative links with other centers, institutions, industry</p>

                            <u>Additions</u><br />
                            <p>Recognition of team science in promotion and tenure policies</p>

                            <u>Additions</u><br />
                            <p>Management and use of authorities and resources to advance the center’s research mission</p>
                            <u>Deletions</u><br />
                            <p>Overlap with institutional commitment re director’s authorities</p>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Consortia</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Ongoing, tangible commitments from all consortium partners to the cancer center</p>
                            <p>Examples of acceptable forms of ‘tangible’ support</p>
                            <u>Deletions</u><br />
                            <p>Requirement that all clinical trials must be open and available in all partner institutions</p>
                            <u>Clarifications</u><br />
                            <p>Requirement for each consortium partner to hold a portfolio of peer-reviewed cancer related grants</p>
                            <p>Requirement that consortium operate as one cohesive center at time of application</p>
                            <p>Role of the grantee and consortium partners in joint planning and evaluation processes</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Senior Leadership</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Expanded role for senior leadership in establishing a vision, fostering basic discovery and appropriate translation, enabling a focus on cancer research in the catchment area, and establishing a process for integrating training and education into programmatic research</p>
                            <p>Examples of how the center might document senior leadership involvement in integration of training </p>
                            <p>Examples relevant to enabling a research focus in the catchment area are in </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Administration</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Focus on oversight of activities relevant to the CCSG application process</p>
                            <u>Clarifications</u>
                            <p>Administrative functions and subsequent applicability of review criteria may vary, based on organization’s structure </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Developmental Funds</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Opportunities to share meritorious resources across centers, fund staff investigators (including a new category focused on special populations research), and support global health pilot projects</p>
                            <p>Leadership and participation in clinical trials as evidence of success for new recruits </p>
                            <u>Clarifications</u>
                            <p>Developmental funds are restricted</p>
</td>
                    </tr>
                    <tr>
                        <td>
                            <b><i><u>Shared Resources</u></i></b>
</td>

                        <td>
                            <u>Additions</u><br />
                            <p>More emphasis on support of science as opposed to usage metrics</p>
                            <p>Language on institutional resources and those supported by other NIH mechanisms</p>
                            <p>Purchase of small equipment</p>
                            <u>Deletions</u>
                            <p>Usage and capacity tables</p>
                            <p>Clinical Protocol and Data Management as a shared resource </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Clinical Protocol and Data Management</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Broader range of functions eligible for CCSG support, including those focused on speeding the clinical trials process, reporting for CTRP</p>
                            <p>New Review criteria added for CPDM</p>
                            <p>Instructions for DSM plans and budgets </p>
                            <u>Modifications</u>
                            <p>Table on accrual to interventional trials shortened and clarified, based on Data Table 4</p>
                            <p>Review criteria for DSM shortened</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Inclusion of Women and Minorities</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>All centers provide plans for recruitment and retention of women and minorities</p>
                            <p>Accrual of women and minorities to non-interventional studies, per NIH policy</p>
                            <p>Optional inclusion of information on other underserved populations</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Protocol Review and Monitoring System</u></i></b>

                        <td>
                            <u>Additions</u><br />
                            <p>Encouragement of 2 stage review (concept then full protocol)</p>
                            <p>Simplified reporting templates</p>
                            <p>One time opportunity for re-evaluation during the project period in cases of conditional- or dis- approval</p>
                            <p>Text on special considerations for accrual to trials involving rare cancers and targeted therapies, along with link to policy/list of rare cancers</p>
                            <u>Clarifications</u>
                            <p>Full scientific review should focus on institutional and industry trials</p>
                            <p>Processes for re-evaluation in cases of conditional- or dis-approval</p>
                            <p>Procedures for review of institutional trials from other centers</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Early Phase Clinical Research Support</u> (formerly Protocol Specific Research Support)</i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Expands use of funds to early phase clinical research activities , e.g., imaging scans, pharmacodynamic studies and support for IDE or IND applications</p>
                            <p>Requests for information on studies to be supported and outcomes of former studies</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Supportive Data / Data Tables</u></i></b>
                        </td>

                        <td>
                            <p>For other changes, consult “Summary of Changes in the 2013 CCSG Data Guide” </p>
                            
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Research Programs</u></i></b>

                        <td>
                            <p>Opportunity to request program development funds in addition to salary support</p>
                            <p>For basic science, specific language recognizing non-translational endpoints</p>
                            <p>Examples of how scientific findings are advanced</p>
                            <p>
                                For clinical programs, focus on quality of trials, participation/leadership in NCTN,
                                institutional trials that capitalize on center research
                            </p>
                            <p>Focus on how the center addresses cancer research in its catchment area, with examples</p>
                            <p>Broader range of activities to document collaboration</p>
                            <p>Value added by shared resources</p>
                            <p>Stronger language on participation of clinical investigators in program</p>
                            <p>Definition of ‘cancer health disparities’</p>
                            <p>Instructions on handling PMCID numbers in the application</p>

                            <u>
                                Deletions
                            </u>
                                <p>
                                    Requirements for agendas, data on non-aligned members, benchmarks for collaborative
                                    publications and clinical trial accrual
                                </p>
                                <u>
                                    Modifications
                                </u>
                                    <p>Listing only of those publications demonstrating impact/collaborative activity</p>
                                    <p>Review criteria addressing accrual issues for trials of rare cancers and targeted therapies</p>
                                    <p>Requirement for at least 5 peer-reviewed and funded research projects in a Program</p>
                                    <u>
                                        Clarifications</u>
                                        <p>Definition of ‘cancer-related’</p>
                                        <p>Crediting of collaborative publications across multiple programs</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Comprehensiveness</u></i></b>
                        </td>

                        <td>
                            <u>Modifications</u><br />
                            <p>1-stage review focusing on quality/interactivity of science, effectiveness in serving the catchment area through research, and how the scientific mission of the center is enhanced by integration of training/ education into programmatic research efforts </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Review Process</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Application only option, with new eligibility criteria and review process</p>
                            <u>Deletions</u>
                            <p>Limited site visit option</p>
                            <p>Scoring for ‘Overall Quality of the Programs’ </p>
                            <p>Shared resource logs, minutes for retreats and program meetings</p>
                            <u>Modifications</u>
                            <p>Posters optional, but updated information may be provided in the slide book</p>
                            <p>Review materials to be available (after submission of the application) for reviews with site visits and “Application Only” (i.e., no site visit). Note: For applications being site visited, it will be important to consult with the SRO for additional guidance</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>Other / Overall</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Additional guidance on defining ‘catchment area’ in multiple components</p>
                            <p>Request for LOI 2 months in advance of submission</p>
                            <u>Modifications</u>
                            <p>Review criteria presented as questions</p>
                            <p>‘Competitive Revision Applications to ‘Revisions’; ‘Administrative Revision Applications’ to ‘Administrative Supplements’; ‘Percent Effort’ to ‘Person Months’; ‘Principal Investigator’ to ‘Project Director/Principal Investigator’</p>
                            <p>Address and telephone numbers for OCC have been changed</p>
                            <u>Deletions</u>
                            <p>$500K/1M letter of agreement to accept the application</p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b><i><u>P30 Funding</u></i></b>
                        </td>

                        <td>
                            <u>Additions</u><br />
                            <p>Guidance for T2 budgets, with caps at various levels based on current DC award</p>
                            <u>Deletions</u>
                            <p>Elimination of Benchmark Ratio</p>
                            <u>Modifications</u>
                            <p>Eligibility requirement for application raised to $10 M</p>
                            <u>Clarifications</u>
                            <p>Funding policies and factors influencing award levels</p>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

</body>
</html>

