@{
    ViewBag.Title = "RPPR";
}
@*COMMENTS--------------------------------------------------------------------------------------------------------------
        DATE            Developer    COMMENTS
        12/03/2014      AM           Removed orange color from <a>
    12/17/2014      AM           Corrected Typo, updated target="_blank" & URLS
    01/13/2015      Chi          Capitalized NOT-OD as suggested by Susan Perkins
    01/14/2015      AM           Updated Date
    Updated My NCBI generated PDF list of publications (see instructions) link
    02/10/2015      AM          Updated URLs with the English Language,
    Updated URL for eData & Data Guide
    03/17/2015      AM          Added home tooltip, modified page headings, referenced occHyperLink and grayFont, hid comments
    CCA pass, cleaned up code
    04/01/2015      AM          Added id="home" to home bread crumb, removed OCChyperlink class, moved PDF version to top
    03/17/2016      Chi         Updated RPPR Instructions to the one dated January 26, 2016,
    added line-height:150%
    04/11/2019      AM          Updated RPPR Instructions
    04/30/2019      AM          Modifited language for DT section at the end per SR request.
    11/30/2022     Chi          Updated Shared Resources with Shared Resource Management & Individual Shared Resources
    ----------------------------------------------------------------------------------------------------------------------*@


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>RPPR Instructions</title>

        <style type="text/css">
            /* Custom Styles */
            .sectionHead {
                font-size: large;
                font-weight: bold;
                color: #004040;
                padding-top: 5px
            }

            hr {
                margin-top: 5px;
            }

            p.big {
                line-height: 150%;
            }

            p.indent {
                text-indent: 50px;
            }
        </style>
    </head>
    <body>
        <div class="container" id="pageCenterID">
            <div class="row" id="centerContentID">
                <h2 style="color:#004040">&nbsp;RPPR Instructions</h2>
                <p style="font-size:medium; padding-left:.5em;"><small>Updated December 1, 2022</small></p>
                <hr style="margin-bottom:0em;" />
                <ul class="breadcrumb" style="float:left; margin-bottom:2px;">
                    <li class="tip-bottom tooltipColor" data-toggle="tooltip" data-original-title="Click here or press Alt+h to go to OCC Home Page"><a href="#" id="home">@Html.ActionLink("Home", "Index", "Home")</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li><a href="~/GrantsFunding/GrantsFunding">Grants & Funding</a> <span class="glyphicon glyphicon-circle-arrow-right"></span></li>
                    <li class="active grayFont">RPPR Instructions</li>
                </ul>
            </div>

            <div class="col-xs-12">

                <h3 style="text-align:center"> INFORMATION  GUIDE  FOR CANCER CENTER SUPPORT GRANT <br />NON-COMPETING PROGRESS REPORTS</h3>
                <hr />
                <a href="~/documents/RPPR.pdf" target="_blank" style="float: right;">PDF Version</a><br /><br />
                <p class=’big’ align="justify">
                    The purpose of this document is to outline the information required by the Office of Cancer Centers (OCC) and the Office of Grants Administration (OGA) for evaluating a cancer center’s annual progress. All Research Performance Progress Reports (RPPR) forms should be used as relevant. Additional   information and resources on the RPPR, including the current RPPR Instruction Guide and training archives, can be found at:  <a href="http://grants.nih.gov/grants/RPPR/" target="_blank">http://grants.nih.gov/grants/RPPR/</a>. Please note chapters 6 (Sections A – H) and 7 (Section 7.6) specifically apply to the P30 mechanism. RPPRs and eData files must be submitted two months (60 days) prior to the start of their next budget period.
                    <br /><br />
                <p align="center">
                    This information applies to applications submitted under PAR-17-095. <br />
                    <font color="#E12A02">For applications submitted under PAR 13-386, please use the May 08, 2019 instructions found <a href="~/documents/InstructionsforCCSGNonCompetingProgressReportsUsingRPPR2016508C.pdf" target="_blank">here</a></font>.
                </p>
                </p>


                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td style="width:35%">Budget</td>
                            <td style="width:65%">
                                Complete a budget page for each component requesting CCSG funds. Prior approval by NCI is required to reallocate more than 25% of the funds in any component to other components.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Director’s
                                Overview/6
                                Essential
                                Characteristics
                            </td>
                            <td>
                                Discuss major accomplishments, changes, updates and any issues noted in previous review that were addressed. Include a copy of Data Table 1.
                            </td>
                        </tr>
                        <tr>
                            <td>Supplements</td>
                            <td>
                                See RPPR 6.B.3.  List and summarize all P30 supplements. See RPPR 6.7 Section G1. In the Director’s Overview create a single PDF document that includes all supplements and their corresponding budget page, providing sufficient detail for NCI staff to evaluate progress.<br />
                                HSS Inclusion Records - If Development Funds were used to support clinical trials, the Center must report inclusion in planned enrollment reports (See RPPR 6.7.G4b 1.).
                            </td>
                        </tr>

                        <tr>
                            <td>Administration</td>
                            <td>Discuss changes; if no changes occurred, a narrative is not required.</td>
                        </tr>
                        <tr>
                            <td>Leadership, Planning and Evaluation</td>
                            <td>
                                Leadership: Discuss changes; if no changes occurred, a narrative is not required. Provide biosketches and other support as appropriate.<br />
                                Planning and Evaluation: Discuss accomplishments. Provide a list of EAB members and include biosketches for new members.

                            </td>
                        </tr>
                        <tr>
                            <td>Developmental Funds</td>
                            <td>
                                Discuss how Developmental Funds were used in the prior year and future plans for these funds. Remember that Developmental Funds are restricted and cannot be reallocated to other components.<br />
                                HSS Inclusion Records - If Development Funds were used to support clinical trials, the Center must report inclusion in planned enrollment reports (See RPPR 6.7.G4b 1.).

                            </td>
                        </tr>
                        <tr>
                            <td>Community Outreach and Engagement</td>
                            <td>
                                Provide a <u>concise</u> description of accomplishments, changes, and future plans

                            </td>
                        </tr>
                        <tr>
                            <td>Cancer Research Career Enhancement and Related Activities</td>
                            <td>
                                Provide a <u>concise</u> description of accomplishments, changes, and future plans. Include a copy of DT2A for training grants. <strong>Do NOT include training grants in DT2A and 2B.</strong>

                            </td>
                        </tr>
                        <tr>
                            <td>Research Programs</td>
                            <td>
                                Provide a <u>concise</u> description of accomplishments, changes, and future plans. Attach a list of relevant publications (maximum of 25 to be added in section B2). Major changes to research programs (i.e., deletion, revision, re-organization, re-alignment, etc.) require prior NCI approval and should be reported in detail.
                            </td>
                        </tr>
                        <tr>
                            <td>Publications</td>
                            <td>See RRPR 6.3 Section C.1.  Include publications resulting from work using CCSG funds (e.g., Developmental Funds, and direct funding support from a shared resource.)</td>
                        </tr>
                        <tr>
                            <td>
                                Shared Resource Management &
                                Individual Shared Resources
                            </td>
                            <td>
                                Discuss changes in Shared Resource Management and all individual CCSG Shared Resources (no publications required). <br /> If no changes occurred, a narrative is not required.
                                If a Center terminates individual Shared Resources and allocates funds to other Shared Resources, including for development of new Shared Resources, NCI prior approval is needed.
                                HSS Inclusion Records - If Shared Resource funds were used to support clinical studies, the Center must report inclusion in planned enrollment reports (See RPPR 6.7.G4b 1.).

                            </td>
                        </tr>
                        <tr>
                            <td>Clinical Protocol and Data Management</td>
                            <td>Discuss updates and changes. If no changes occurred, a narrative is not required.</td>
                        </tr>
                        <tr>
                            <td>Data Safety Monitoring (DSM)</td>
                            <td>
                                Discuss updates and changes. If no changes occurred, a narrative is not required. Major changes (excluding personnel changes) to DSM plan need to be reported to the Office of Cancer Centers (OCC).  The revised plan should be submitted to OCC for review and approval.
                            </td>
                        </tr>
                        <tr>
                            <td>Human subjects/Inclusion Management System (HSS)</td>
                            <td>See RPPR 6.G.4</td>
                        </tr>
                        <tr>
                            <td>Protocol Review and Monitoring System (PRMS)</td>
                            <td>
                                Discuss updates and changes. If no changes occurred, a narrative is not required. For conditional or disapproved PRMS, discuss efforts to address deficiencies.
                            </td>
                        </tr>
                        <tr>
                            <td>All Personnel Report</td>
                            <td>See RPPR 6.4D & 7.6.D.1</td>
                        </tr>
                        <tr>
                            <td>Data Tables</td>
                            <td>Concurrent with submission of the RPPR, submit Data Tables 1-3  and DT4 (for non-interventional trials) as eData. Also submit the CTRP generated DT4 (pdf and excel) for interventional trials to   <a href="ccsgdata@mail.nih.gov">ccsgdata@mail.nih.gov</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>@*page content*@
        </div>@*container*@
    </body>
</html>
